<%#
  This template is i18n-ready: if you don't use i18n, then you can replace the pagy_t
  calls with the actual strings ("&lsaquo; Prev", "Next &rsaquo;", "&hellip;").

  The link variable is set to a proc that returns the link tag.
  Usage: link.call( page_number [, text [, extra_attributes_string ]])
-%>
<% link = pagy_link_proc(pagy) -%>
<nav aria-label="pager" class="pagy_nav pagination" role="navigation">
  <% if pagy.prev -%>
    <%== link.call(pagy.prev, t('.prev'), 'aria-label="next" class="text-sm bg-gray-300 hover:bg-gray-700 hover:text-white text-gray-700 font-semibold py-1 px-2 rounded ml-2"') %>
  <% end -%>
  <% pagy.series.each do |item| # series example: [1, :gap, 7, 8, "9", 10, 11, :gap, 36] -%>
  <% if item.is_a?(Integer) -%>
    <%== link.call(item, item, 'class="page h-6 w-5 leading-none text-sm text-gray-700 font-semibold inline-flex items-center justify-center uppercase"') %>
  <% elsif item.is_a?(String) -%>
    <div class="h-6 w-6 leading-none text-sm bg-gray-700 inline-flex items-center justify-center text-white font-bold uppercase ml-1">
      <%= item %>
    </div>
  <% elsif item == :gap -%>
    <span class="page gap font-semibold ml-1">
      <%== pagy_t('pagy.nav.gap') %>
    </span>
  <% end -%>
<% end -%>
<% if pagy.next -%>
  <%== link.call(pagy.next, t('.next'), 'aria-label="next" class="text-sm bg-gray-300 hover:bg-gray-700 hover:text-white text-gray-700 font-semibold py-1 px-2 rounded ml-2"') %>
<% end -%>
</nav>
