<% content_for(:sidebar) do %>
  <%= render('application/account_menu', current: :invoices) %>
<% end %>
<% content_for(:header_title) do %>
  <%= t('.title') %>
<% end %>
<div class="flex flex-grow w-full p-2 grid grid-cols-2 gap-6 sm:p-4 lg:p-6">
  <%= render("info_card") %>
  <%= render("services_list") %>
  <%= render("form") %>
</div>
