<div class="p-2">
	<div class="container flex bg-white rounded-lg shadow mx-auto max-w-sm mt-4 md:mt-8">
		<div class="w-full p-8 text-left">
			<h1 class="text-gray-900 text-2xl font-bold"><%= t('.sign_in_to_your_account') %></h1>
			<div class="mb-4">
				<span class="text-gray-600 text-sm">
					<%= t('.dont_have_an_account?') %>
				</span>
				<%= link_to(connect_path, class: 'text-gray-700 text-sm font-semibold') do %>
					<%= t('.connect') %>
				<% end %>
			</div>
			<%= simple_form_for(:session, url: session_path) do |form| %>
				<%= form.input(:email, as: 'email', input_html: { autofocus: true }, input_html: { class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline shadow-inner bg-gray-200' }, label_html: { class: 'text-gray-700 text-sm font-bold' }) %>
				<div class="mt-2">
					<%= form.input(:password, input_html: { autofocus: true }, input_html: { class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-200 shadow-inner' }, label_html: { class: 'text-gray-700 text-sm font-bold' }) %>
				</div>
				<p class="text-center text-sm text-gray-600 hover:text-gray-800 mt-2">
					<% if Clearance.configuration.allow_sign_up? %>
						<%= link_to t(".sign_up"), sign_up_path %>
					<% end %>
					<%= link_to t(".forgot_password"), new_password_path %>
				</p>
				<div class="mt-6">
					<%= form.button(:submit, class: "w-full bg-gray-800 hover:bg-gray-500 text-white text-sm h-10 font-semibold rounded") %>
				</div>
			<% end %>
		</div>
	</div>
</div>
