<% customers ||= [] %>
<% customer ||= nil %>
<%= form_with(model: [customer, invoice], local: true, class: "w-full", html: { role: 'check-modified' }) do |form| %>
  <div class="flex-grow h-16 bg-orange-600 p-8 flex items-center rounded-t -m-px">
    <h1 class="text-xl text-white font-medium">
      <% if invoice.persisted? %>
        <%= t('.edit_invoice') %> - #<%= @invoice.invoice_nbr %>
      <% else %>
        <%= t('.new_invoice') %> -
        <%= icon('fas', 'file-invoice', class: "mt-1") %>
      <% end %>
    </h1>
  </div>
  <div class="w-full p-5 lg:p-3 xl:p-5">
    <div class="flex flex-wrap -mx-2 border-b border-gray-300 lg:border-none">
      <div class="w-full lg:w-1/3 px-2">
        <div class="w-full lg:w-5/6 xl:w-4/5">
          <div class="w-full md:w-full flex flex-wrap">
            <div class="w-full relative">
              <%= form.label(:customer, class: "form-label lg:mb-2") %>
              <% if customer.present? %>
                <%= form.select(:customer_id, customers.collect { |customer| [customer.to_s, customer.id] },
                                {}, id: 'organisation',
                                disabled: true,
                                class: 'form-input mt-2 bg-gray-400') %>
              <% else %>
                <%= form.select(:customer_id, customers.collect { |customer| [customer.to_s, customer.id] },
                                {}, id: 'organisation',
                                class: 'form-input mt-2') %>
              <% end %>
              <div class="mt-8 pointer-events-none absolute inset-y-0 right-0
                    flex items-center px-2 text-gray-700">
                <svg class="ml-2 h-6 w-6 text-gray-500" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M15.3 9.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4
                      0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z" />
                </svg>
              </div>
            </div>
            <% unless customer.present? %>
              <div class="w-full flex justify-end mt-1">
                <%= link_to(new_customer_path, class: 'text-blue-500 font-medium') do %>
                  <%= t('.+_add_new_customer') %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="w-full lg:w-1/3 px-2 mt-6 lg:mt-0">
        <div class="w-full lg:w-5/6 xl:w-4/5">
          <div class="w-full">
            <%= form.label(:invoice_date, class: "form-label lg:mb-2") %>
            <%= form.text_field(:invoice_date, id: 'invoice_date', placeholder: '2020-02-02',
                    class: "form-input mt-2 date-picker") %>
          </div>
          <div class="flex flex-wrap mt-6 lg:mt-4">
            <div class="w-full">
              <%= form.label(:due_date, class: "form-label lg:mb-2") %>
              <%= form.text_field(:due_date, id: 'due_date', placeholder: '2020-02-02',
                    class: "form-input mt-2 date-picker") %>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full lg:w-1/3 px-2 mb-6 lg:mb-0 mt-6 lg:mt-0">
        <div class="w-full lg:w-5/6 xl:w-4/5">
          <div class="w-full">
            <%= form.label(:invoice_nbr, class: "form-label lg:mb-2") %>
            <%= form.text_field(:invoice_nbr, id: 'invoice_nbr', placeholder: '#00001',
                    class: "form-input mt-2") %>
          </div>
          <div class="relative mt-4">
            <%= form.label(:status, class: "form-label lg:mb-2") %>
            <%= form.select(:status, invoice_statuses,
                          {}, id: 'status',
                          class: 'form-input mt-2') %>
            <div class="mt-8 pointer-events-none absolute inset-y-0 right-0
                        flex items-center px-2 text-gray-700">
              <svg class="ml-2 h-6 w-6 text-gray-500" fill="currentColor" viewBox="0 0 24 24">
                <path d="M15.3 9.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4
                          0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z" />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-end mt-4">
      <div class="w-1/2 lg:w-1/4 px-5 py-2 flex justify-end">
        <div class="">
          <p class="">Subtotal</p>
          <p class="">1.234,00 kr</p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full p-3">
    <div class="w-full flex border-t border-gray-300 pt-4 mt-8">
      <div class="w-full flex justify-end items-center">
        <div class="w-20 mr-2">
          <div class="w-20 mr-2">
            <%= link_to(t('.cancel'), invoices_path, class: "w-full text-red-500 uppercase font-bold text-sm hover:text-red-300") %>
          </div>
        </div>
        <div class="">
          <%= form.submit(class: "btn btn-orange transition ease-out duration-700 transform hover:scale-105") %>
        </div>
      </div>
    </div>
  </div>
<% end %>
