<div class="text-xs bg-white border border-orange-400 rounded xl:text-sm">
  <div class="relative flex items-center justify-center h-20 p-8 -m-px bg-orange-600 rounded-t">
    <% if @invoice.status == "paid" %>
      <div
      class="absolute top-0 left-0 flex items-center justify-center w-24 h-8 mt-3 font-bold text-white bg-green-600 rounded-r-sm ribbon_green">
        <%= t('.paid') %>
      </div>
    <% elsif @invoice.status == "unpaid" && !@invoice.past_due? %>
      <div
      class="absolute top-0 left-0 flex items-center justify-center w-24 h-8 mt-3 font-semibold text-white bg-yellow-600 rounded-r-sm ribbon_yellow">
        <%= t('.unpaid') %>
      </div>
    <% elsif @invoice.status == "unpaid" && @invoice.past_due? %>
      <div
      class="absolute top-0 left-0 flex items-center justify-center w-24 h-8 mt-3 font-semibold text-white bg-red-600 rounded-r-sm ribbon_red">
        <%= t('.past_due') %>
      </div>
    <% end %>
    <p class="text-xl font-medium text-white">Invoice #<%= @invoice.invoice_nbr %></p>
  </div>
  <div class="flex items-center justify-center w-full py-5 border-b">
    <div class="flex justify-center w-1/2">
      <div>
        <p class="text-orange-700"><%= t('.invoice_date') %></p>
        <% if @invoice.invoice_date.present? %>
          <p class="text-sm text-gray-700 xl:text-base"><%= @invoice.invoice_date %></p>
        <% else %>
          <p class="text-sm text-gray-700 xl:text-base">N.A</p>
        <% end %>
      </div>
    </div>
    <div class="flex justify-center w-1/2">
      <div>
        <p class="text-orange-700"><%= t('.due_date') %></p>
        <% if @invoice.due_date.present? %>
          <p class="text-sm text-gray-700 xl:text-base"><%= @invoice.due_date %></p>
        <% else %>
          <p class="text-sm text-gray-700 xl:text-base">N.A</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="w-full px-4 py-5 text-gray-700 border-b">
    <div class="flex">
      <div class="w-20 xl:w-24">
        <%= t('.customer') %>:
      </div>
      <div class="text-sm text-blue-500 xl:text-base">
        <%= link_to(@invoice.customer.name, customer_path(@invoice.customer)) %>
      </div>
    </div>
    <div class="flex mt-4">
      <div class="w-20 xl:w-24">
        <%= t('.address') %>:
      </div>
      <div class="text-sm xl:text-base">
        Street 123, Zip code
        <p>County, Country</p>
      </div>
    </div>
  </div>
  <div class="flex-grow px-4 py-4 text-gray-700 border-b">
    <div class="flex">
      <div class="w-20 xl:w-24">
        <%= t('.notes') %>:
      </div>
      <div class="flex-grow text-sm xl:text-base">
        Lorem ipsum. Lorem ipsum. Lorem ipsum.
      </div>
    </div>
  </div>
  <div class="w-full px-4 py-4 text-gray-700 border-b">
    <div class="flex">
      <div class="w-20 xl:w-24">
        <%= t('.Comment') %>:
      </div>
      <div class="text-sm xl:text-base">
        Project3
      </div>
    </div>
  </div>
  <div class="flex items-center justify-between w-full p-4">
    <div>
      <%= link_to(edit_customer_invoice_path(@invoice.customer, @invoice),
      class: 'btn btn-orange normal-case transition ease-out duration-700 transform hover:scale-105') do %>
        <%= t('.edit_invoice') %>
      <% end %>
    </div>
    <div>
      <%= render('invoices/prints/preview_modal', invoice: @invoice) %>
    </div>
  </div>
</div>
