<div x-data="{ preview: false }" data-turbolinks-permanent>
  <button @click="preview = true" class="btn btn-blue">
    <%= t(".preview") %>
  </button>
  <div x-show="preview" class="overflow-y-auto bg-gray-900 px-8" style="background-color: rgba(0,0,0,0.3)"
    x-transition:enter="transition ease-out duration-300" x-transition:enter-start="transform opacity-0 scale-100"
    x-transition:enter-end="transform opacity-100 scale-100"
    class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg"
    :class="{ 'absolute inset-0 z-50 flex items-center justify-center': preview }">
    <div x-show="preview" @click.away="preview = false"
      class="rounded-md border border-gray-500 transform scale-50 md:scale-75 items-center justify-center relative">
      <div class="border border-gray-400 bg-white rounded mx-auto">
        <div class="a4 m-10 relative">
          <%= render('pdf_header') %>
          <div class="flex-grow">
            <%= render('pdf') %>
          </div>
          <div class="absolute w-full bottom-0">
            <%= render('pdf_footer') %>
            <div class="flex-grow flex justify-end -mb-4 mr-4">
              <div class="flex items-center transform scale-125">
                <div class="mr-2">
                  <%= link_to(t('.download'), customer_invoice_path(@invoice.customer, :format => :pdf),
                class: "px-3 py-2 text-xs md:text-sm shadow-md no-underline rounded bg-gray-500 text-white font-bold hover:text-white hover:bg-gray-400 focus:outline-none active:shadow-none") %>
                </div>
                <button class="w-20 md:w-24 px-2 py-2 text-xs md:text-sm btn btn-blue normal-case">
                  <%= t('.send') %> <%= icon('fas', 'envelope-open', class: "ml-2") %>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="absolute top-0 right-0 bg-gray-900 hover:bg-gray-700 md:hover:bg-red-400 md:bg-red-600 w-5 h-5 md:w-8 md:h-8 rounded md:rounded-full text-white font-bold flex items-center justify-center mt-2 mr-2 md:-mt-4 md:-mr-4 cursor-pointer"
        @click="preview = false">
        <svg class="h-3 w-3 md:h-5 md:w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </div>
    </div>
  </div>
</div>
