<div class="flex border-b">
  <div class="w-full flex py-4">
    <div class="w-20 md:w-24 flex justify-center items-center">
      <div class="rounded-full h-9 w-9 md:h-10 md:w-10 bg-blue-500 inline-flex
                  items-center justify-center text-white font-bold">
        <i class="fas fa-lg fa-file-invoice"></i>
      </div>
    </div>
    <div class="w-full flex items-center">
      <div class="w-1/5 lg:w-1/6">
        <p class="text-sm md:text-base"><%= invoice.customer %></p>
      </div>
      <div class="w-1/5 lg:w-1/6">
        <p class="text-md text-blue-500"><%= invoice.invoice_nbr %></p>
      </div>
      <div class="w-1/6 hidden lg:inline-block">
        <p class="text-md"><%= l(invoice.invoice_date) if invoice.invoice_date.present? %></p>
      </div>
      <div class="w-1/5 lg:w-1/6 flex justify-center md:justify-start">
        <p class="text-md"><%= invoice.amount %> SEK</p>
      </div>
      <div class="w-1/5 lg:w-1/6 flex justify-center md:justify-start">
        <p class="text-md <%= invoice.past_due? ? 'text-red-500' : 'text-green-500'%> "><%= invoice.due_date %></p>
      </div>
      <div class="w-1/5 lg:w-1/6 flex justify-center md:justify-start">
        <%= invoice_tag(invoice.status) %>
      </div>
    </div>
    <div class="w-16 hidden md:flex items-center">
      <span class="icon text-gray-600">
        <i class="fas fa-lg fa-edit"></i>
      </span>
    </div>
  </div>
</div>
