<div class="flex border-b border-gray-300">
  <%= link_to(customer_invoice_path(invoice.customer, invoice), class: 'flex-grow flex py-3 hover:bg-orange-200') do %>
    <div class="flex items-center justify-center px-2 sm:px-4 xl:px-6">
      <div class="items-center justify-center w-8 h-8 text-xs font-bold text-white bg-orange-500 rounded-full md:h-10 md:w-10 inline-flex
  md:text-sm lg:text-base">
        <i class="fas fa-lg fa-file-invoice"></i>
      </div>
    </div>
    <div class="flex items-center flex-grow text-xs sm:text-sm xl:text-base">
      <div class="w-1/3 pr-2 lg:w-1/6">
        <p class=""><%= invoice.customer.name %></p>
        <p class="text-xs text-gray-700 opacity-75 md:text-sm">#<%= invoice.customer.id %></p>
      </div>
      <div class="hidden w-1/3 pr-2 lg:w-1/6 lg:flex">
        <p class="text-blue-500">#<%= invoice.invoice_nbr %></p>
      </div>
      <div class="hidden w-1/6 pr-2 lg:inline-block">
        <p class=""><%= l(invoice.invoice_date) if invoice.invoice_date.present? %></p>
      </div>
      <div class="w-1/3 pr-2 lg:w-1/6">
        <p class="">
          <% if (invoice.amount > 0) %>
            <%= number_to_currency(invoice.amount) %>
          <% end %>
        </p>
      </div>
      <div class="flex w-1/3 pr-2 lg:w-1/6">
        <p class="<%= invoice.past_due? ? 'text-red-500' : 'text-green-500'%> "><%= invoice.due_date %></p>
      </div>
      <div class="hidden w-1/6 lg:w-1/6 lg:flex">
        <%= invoice_tag(invoice.status) %>
      </div>
    </div>
    <div class="flex items-center w-1/6 lg:w-1/6 lg:hidden">
      <div class="flex items-center pl-4 md:pl-5">
        <%= invoice_tag_mobile(invoice.status) %>
      </div>
    </div>
  <% end %>
  <div class="relative hidden text-left sm:inline-block" @click.away="edit_dropdown = false"
    x-data="{ edit_dropdown: false }">
    <div class="flex items-center justify-center w-10 h-16 -ml-12 cursor-pointer xl:w-16 xl:-ml-20"
      @click="edit_dropdown = !edit_dropdown" @click="edit_dropdown = true">
      <svg class="w-6 h-6 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
      </svg>
    </div>
    <div class="-mt-4">
      <%= render('invoices/edit_dropdown', invoice: invoice) %>
    </div>
  </div>
</div>
