<% odd ||= false %>
<% date ||= Time.zone.now - rand(-100..100).days %>
<%= link_to(customer_invoice_path(invoice.customer, invoice)) do %>
  <div class="flex-grow flex px-6 py-2 text-gray-900 border-b -mx-4 <%= odd ? "bg-gray-300" : "bg-white" %>">
    <div class="w-1/4 px-4 flex flex-wrap items-center justify-start">
      <div class="">
        <p class="text-sm md:text-base"><%= invoice.customer %></p>
      </div>
    </div>
    <div class="w-1/4 flex items-center justify-center">
      <p class="text-md text-blue-500"><%= invoice.invoice_nbr %></p>
    </div>
    <div class="w-1/4 flex items-center justify-center">
      <p class="text-md"><%= invoice.amount %> SEK</p>
    </div>
    <div class="w-1/4 flex items-center justify-center">
      <p class="text-md <%= invoice.past_due? ? "text-red-500" : "text-green-500"%>">
        <%= l(invoice.due_date, format: "%Y-%m-%d") if invoice.due_date.present? %>
      </p>
    </div>
  </div>
<% end %>
