<% invoices ||= [] %>
<% pagy ||= nil %>
<% customer ||= nil %>
<% show_filters = true if show_filters == nil %>
<div class="px-2 pb-4 lg:px-0 mt-4 lg:mt-2">
  <div class="bg-white border border-gray-400 shadow-md">
    <% if show_filters %>
      <div class="w-full flex justify-between items-center h-16 border-b border-gray-400 px-4">
        <div class="flex">
          <%= invoice_status_button(:all, params[:status], object: customer) %>
          <%= invoice_status_button(:paid, params[:status], object: customer) %>
          <%= invoice_status_button(:unpaid, params[:status], object: customer) %>
        </div>
      </div>
    <% end %>
    <div class="w-full">
      <div class="border-b-2 bg-gray-200">
        <div class="w-full flex py-4">
          <div class="w-20 md:w-24 flex inline-block justify-center">
          </div>
          <div class="w-full flex">
            <div class="w-1/5 lg:w-1/6 flex">
              <span class="uppercase text-sm font-semibold py-4 text-blue-900">
                <%= Invoice.human_attribute_name(:customer) %>
              </span>
            </div>
            <div class="w-1/5 lg:w-1/6 flex">
              <span class="uppercase text-sm font-semibold py-4 text-blue-900">
                <%= Invoice.human_attribute_name(:invoice_nbr) %>
              </span>
            </div>
            <div class="w-1/6 hidden lg:flex">
              <span class="uppercase text-sm font-semibold py-4 text-blue-900">
                <%= Invoice.human_attribute_name(:invoice_date) %>
              </span>
            </div>
            <div class="w-1/5 lg:w-1/6 flex justify-center md:justify-start">
              <span class="uppercase text-sm font-semibold py-4 text-blue-900">
                <%= Invoice.human_attribute_name(:amount) %>
              </span>
            </div>
            <div class="w-1/5 lg:w-1/6 flex justify-center md:justify-start">
              <span class="uppercase text-sm font-semibold py-4 text-blue-900">
                <%= Invoice.human_attribute_name(:due_date) %>
              </span>
            </div>
            <div class="w-1/5 lg:w-1/6 flex justify-center md:justify-start">
              <span class="uppercase text-sm font-semibold py-4 text-blue-900">
                <%= Invoice.human_attribute_name(:status) %>
              </span>
            </div>
          </div>
          <div class="w-16 hidden md:flex items-center">
          </div>
        </div>
      </div>
      <% if invoices.any? %>
        <% invoices.each do |invoice| %>
          <%= render('invoices/row', invoice: invoice) %>
        <% end %>
      <% else %>
        <div class="mx-auto text-center font-bold text-xl">
          Empty empty empty
        </div>
      <% end %>
      <div class="px-3 bg-white flex flex-col xs:flex-row items-end justify-center">
        <div class="px-2 align-middle inline-flex flex items-center py-4">
          <%= render("pagy/nav", pagy: @pagy) if @pagy.present? %>
        </div>
      </div>
    </div>
  </div>
</div>
