<div id="<%= dom_id(task) %>-added" class="flex-grow py-4">
  <div class="w-full flex justify-between">
    <div>
      <p class="text-sm font-semibold text-blue-900"><%= task.title %></p>
      <p class="text-xs text-blue-900">
        <%= task.hours %> x 990,00 kr
      </p>
      <p class="text-xs text-blue-900"><%= task.project %></p>
    </div>
    <div class="flex items-center">
      <div>
        <span class="text-sm font-semibold text-blue-900 mr-6">
          <%= number_to_currency(@total = task.hours * 999) %>
        </span>
      </div>
      <div class="flex items-center mt-1">
        <%= link_to(invoice_task_path(invoice, task), method: :delete, class: 'text-red-700 text-lg', remote: true) do %>
        <%= icon('fas', 'times') %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="w-1/12 flex items-center justify-center">

  </div>
</div>
