<% content_for(:sidebar) do %>
  <%= render('application/account_menu', current: :invoices) %>
<% end %>
<% content_for(:header_title) do %>
  <%= t('.title') %>
<% end %>
<div class="w-full lg:p-3 xl:p-6">
  <%= render("heading") %>
  <%= render('search_field') %>
  <%= render("invoices/table", invoices: @invoices, customer: @customer, pagy: @pagy) %>
</div>
