<% project ||= nil %>
<% tasks ||= []%>
<div class="flex flex-col">
  <div class="pt-2 pb-6 -my-2">
    <div class="inline-block min-w-full overflow-hidden align-middle border shadow sm:rounded-md">
      <table class="min-w-full">
        <% if tasks.empty? %>
          <tbody class="bg-white">
            <%= render("tasks/empty", project: project) %>
          </tbody>
        <% else %>
          <thead>
            <tr>
              <th
              class="px-3 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 lg:px-6 bg-gray-50 leading-4">
                <%= Task.human_attribute_name(:title) %>
              </th>
              <th
              class="px-3 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 lg:px-6 bg-gray-50 leading-4">
                <%= Task.human_attribute_name(:status) %>
              </th>
              <th
              class="px-3 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 lg:px-6 bg-gray-50 leading-4">
                <%= Task.human_attribute_name(:hours) %>
              </th>
              <th
              class="hidden px-3 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 lg:px-6 bg-gray-50 leading-4 sm:block">
                <%= Task.human_attribute_name(:updated_at) %>
              </th>
              <th class="px-3 py-3 border-b border-gray-200 lg:px-6 bg-gray-50"></th>
            </tr>
          </thead>
          <tbody class="bg-white">
            <% tasks.each do |task| %>
              <%= render("tasks/table_row", task: task) %>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
