<% task ||= Task.new %>
<% odd ||= false %>
<tr>
  <td class="px-3 lg:px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 font-medium text-gray-900">
    <%= task.title %>
  </td>
  <td class="px-3 lg:px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
    <%= task_tag(task.status) %>
  </td>
  <td class="px-3 lg:px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
    <%= task.hours %>
  </td>
  <td class="px-3 lg:px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500 hidden sm:block">
    <%= l(task.updated_at, format: "%Y-%m-%d %H:%M") if task.updated_at %>
  </td>
  <td class="px-3 lg:px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 font-medium">
    <%= render('projects/tasks/modal_form', project: task.project, task: task) do %>
      <a class="text-right" href="#edit-task" @click="openModal = true" @click.prevent>
        <span class="icon text-gray-600">
          <i class="fas fa-lg fa-plus"></i>
        </span>
      </a>
    <% end %>
  </td>
</tr>
