<% task ||= Task.new %>
<% odd ||= false %>
<tr>
  <td class="px-3 py-4 text-sm font-medium text-gray-900 whitespace-no-wrap border-b border-gray-200 lg:px-6 leading-5">
    <%= task.title %>
  </td>
  <td class="px-3 py-4 text-sm text-gray-500 whitespace-no-wrap border-b border-gray-200 lg:px-6 leading-5">
    <%= task_tag(task.status) %>
  </td>
  <td class="px-3 py-4 text-sm text-gray-500 whitespace-no-wrap border-b border-gray-200 lg:px-6 leading-5">
    <%= task.hours %>
  </td>
  <td class="hidden px-3 py-4 text-sm text-gray-500 whitespace-no-wrap border-b border-gray-200 lg:px-6 leading-5 sm:block">
    <%= l(task.updated_at, format: "%Y-%m-%d %H:%M") if task.updated_at %>
  </td>
  <td class="px-3 py-4 text-sm font-medium whitespace-no-wrap border-b border-gray-200 lg:px-6 leading-5">
    <%= render('projects/tasks/modal_form', project: task.project, task: task) do %>
      <a class="text-right" href="#edit-task" @click="openModal = true" @click.prevent>
        <span class="text-gray-600 icon">
          <i class="fas fa-lg fa-plus"></i>
        </span>
      </a>
    <% end %>
  </td>
</tr>
