<% content_for(:sidebar) do %>
  <%= render('application/account_menu', current: :projects) %>
<% end %>
<% content_for(:header_title) do %>
  <%= @project %>
<% end %>
<div class="w-full px-2 py-2 pb-4 lg:px-8 lg:py-6">
  <div class="flex-grow mx-auto">
    <div class="pb-2 text-sm font-medium text-gray-900 lg:text-sm">
      <div class="flex items-center">
        <%= link_to(customer_project_path(@project.customer, @project), class: 'text-gray-500') do %>
          <%= @project %>
        <% end %>
        <svg class="inline-block w-5 h-5 mt-px text-gray-500" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd" />
        </svg>
        <span class="">
          <%= @task.title %>
        </span>
      </div>
    </div>
    <%= render('form', project: @project, task: @task) %>
    <div class="flex flex-col flex-wrap w-full bg-white border border-gray-500 lg:w-2/3 rounded-md lg:mt-3">
      <div class="h-12 px-3 py-2 bg-red-500 rounded-t">
        <h1 class="text-lg font-semibold text-white xl:text-xl"><%= t('.danger_zone') %></h1>
      </div>
      <div class="flex w-full p-6 pt-3 -mb-1">
        <div class="flex flex-col">
          <p><%= t('.delete_task') %></p>
          <div class="w-48 mt-6">
            <%= button_to(t('.delete'), project_task_path(@project, @task),
                method: :delete,
                class: "py-2 px-2 w-full uppercase shadow-md no-underline rounded bg-red-600 text-white font-bold text-sm hover:text-white hover:bg-red-400 focus:outline-none active:shadow-none") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
