<div class="container px-8 py-4 sm:mx-auto lg:px-0 lg:py-24 xl:py-20">
  <div class="flex flex-wrap items-center w-full mx-auto">
    <div class="flex flex-wrap justify-center w-full lg:w-1/2 lg:justify-start">
      <div class="">
        <h1 class="text-4xl font-bold text-left text-gray-200 lg:text-5xl">
          Om oss
        </h1>
        <div class="pr-4 mx-auto mt-5 lg:mx-0">
          <p class="font-medium text-blue-400 uppercase">En plattform för kontrollansvariga</p>
          <p class="mt-3 text-base leading-relaxed text-left text-gray-200 lg:text-lg">
            Apti grundades 2019, med målet att underlätta processen för privatpersoner att hitta certifierade kontrollansvariga i sitt närområde.
            Vår målsättning är att förenkla processen att hitta och kontakta företag med rätt expertis för ditt byggprojekt.
          </p>
          <p class="mt-8 text-base leading-relaxed text-left text-gray-200 lg:text-lg">
            Apti riktar sig mot dig med byggtankar men även mot de företag som vill synas och söker uppdrag. En perfekt match helt enkelt.
          </p>
          <p class="text-base leading-relaxed text-gray-200 ext-left lg:text-lg">
            Har du några frågor? Tveka inte att kontakta oss.
          </p>
        </div>
        <div class="flex items-center w-full mt-8 justify-left">
          <div class="flex font-medium hover:border-gray-400 hover:text-gray-400">
            <%= link_to(connect_path, class: 'bg-blue-600 border-blue-600 border hover:bg-blue-500 hover:border-blue-500 py-3 px-3 rounded text-white') do %>
              <%= t('.connect') %>
              <%= icon('fas', 'caret-right', class: 'ml-2 font-bold') %>
            <% end %>
          </div>
          <div class="flex ml-4 font-medium hover:border-gray-400 hover:text-gray-400">
            <%= link_to(contact_path, class: 'border border-white hover:border-gray-500 hover:text-gray-500 py-3 px-3 rounded text-white') do %>
              <%= t('.contact_us') %>
              <%= icon('fas', 'caret-right', class: 'ml-2 font-bold') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="w-4/5 lg:w-1/2 lg:mx-auto">
      <div class="max-w-xs mt-16 mb-8 lg:max-w-md lg:mx-auto lg:mb-0 xl:mt-12">
        <%= image_tag('about_us.svg', alt: 'Profile')%>
      </div>
    </div>
  </div>
</div>
