<div class="container mx-auto">
  <div class="mt-4 md:mt-10 lg:mt-24">
    <div class="w-11/12 mx-auto text-center md:w-full">
      <h1 class="font-sans text-2xl font-bold text-gray-200 md:text-4xl lg:text-5xl">
        <%= t('.how_can_we_help_you?') %>
      </h1>
      <div class="w-4/5 mx-auto">
        <p class="mt-8 text-sm font-medium text-blue-500 md:text-base">
          <%= t('.choose_an_appropriate_category_below_and_we_will_contact_you_as_soon_as_possible') %>
        </p>
      </div>
    </div>
    <div class="w-11/12 mx-auto md:w-full">
      <div class="px-2 mt-8 md:mt-24">
        <div class="flex flex-wrap mx-0 lg:-mx-8">
          <div class="w-4/5 max-w-xl px-0 mx-auto lg:w-1/3 md:px-8">
            <div class="h-32 bg-white rounded shadow-2xl md:h-56 hover:bg-blue-200">
              <%= link_to(support_error_path) do %>
                <div class="p-4 lg:p-8">
                  <figure class="flex media-left md:hidden">
                    <span class="text-blue-500 icon">
                      <i class="fas fa-lg fa-tools"></i>
                    </span>
                  </figure>
                  <figure class="hidden ml-1 media-left md:flex">
                    <span class="text-blue-500 icon">
                      <i class="fas fa-2x fa-tools"></i>
                    </span>
                  </figure>
                  <h1 class="mt-1 text-sm font-bold text-blue-900 md:text-xl md:mt-3">
                    <%= t('.website_issues') %>
                  </h1>
                  <p class="mt-2 text-sm font-medium text-blue-900 md:text-base md:mt-8">
                    <%= t('.have_you_found_any_errors_on_the_website_or_in_the_documentation') %>
                  </p>
                </div>
              <% end %>
            </div>
          </div>
          <div class="w-4/5 max-w-xl px-0 mx-auto mt-8 lg:w-1/3 lg:mt-0 md:px-8">
            <div class="h-32 bg-white rounded shadow-2xl md:h-56 hover:bg-blue-200">
              <%= link_to(support_general_path) do %>
                <div class="p-4 lg:p-8">
                  <figure class="flex media-left md:hidden">
                    <span class="text-blue-500 icon">
                      <i class="fas fa-lg fa-lightbulb"></i>
                    </span>
                  </figure>
                  <figure class="hidden media-left md:flex">
                    <span class="text-blue-500 icon">
                      <i class="fas fa-2x fa-lightbulb"></i>
                    </span>
                  </figure>
                  <h1 class="mt-1 text-sm font-bold text-blue-900 md:text-xl md:mt-3">
                    <%= t('.general_support') %>
                  </h1>
                  <p class="mt-2 text-sm font-medium md:text-base md:mt-8">
                    <%= t('.is_there_something_that_you_need_help_with_contact_us') %>
                  </p>
                </div>
              <% end %>
            </div>
          </div>
          <div class="w-4/5 max-w-xl px-0 mx-auto mt-8 mb-20 lg:w-1/3 lg:mt-0 md:px-8 lg:mb-0">
            <div class="h-32 bg-white rounded shadow-2xl md:h-56 hover:bg-blue-200">
              <%= link_to(support_improvement_path) do %>
                <div class="p-4 lg:p-8">
                  <figure class="flex media-left md:hidden">
                    <span class="text-blue-500 icon">
                      <i class="fas fa-lg fa-headphones-alt"></i>
                    </span>
                  </figure>
                  <figure class="hidden media-left md:flex">
                    <span class="text-blue-500 icon">
                      <i class="fas fa-2x fa-headphones-alt"></i>
                    </span>
                  </figure>
                  <h1 class="mt-1 text-sm font-bold text-blue-900 md:text-xl md:mt-3">
                    <%= t('.improvements') %>
                  </h1>
                  <p class="mt-2 text-sm font-medium md:text-base md:mt-8">
                    <%= t('.do_you_have_any_suggestions_how_we_can_improve') %>
                  </p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
