<div class="w-full overflow-y-auto lg:flex-grow px-4">
    <div class="flex-grow mx-auto sm:px-4 pt-2 md:pt-6">
        <div class="w-full mb-4">
            <h1 class="text-3xl font-bold text-gray-800">Invoices</h1>
        </div>
        <div class="flex justify-between">
            <div class="my-2 flex sm:flex-row flex-col">
                <div class="flex flex-row mb-1 sm:mb-0">
                    <div class="relative flex items-start">
                        <%= link_to(project_path, class: 'bg-gray-500 border-l border-t border-b border-gray-800 hover:bg-gray-800 hover:border-gray-800 py-2 px-3 rounded-l text-gray-900 hover:text-gray-500 font-semibold') do %>
                        <%= t('.archive_(x)') %>
                        <% end %>
                        <div class="drop-down-parent bg-gray-700 border border-gray-800 rounded-r py-2 flex justify-end">
                            <svg class="h-6 w-6 text-gray-500" fill="currentColor" viewBox="0 0 24 24">
                                <path
                                    d="M15.3 9.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z" />
                            </svg>
                            <div class="drop-down absolute z-10">
                                <div class="shadow-lg bg-gray-800 rounded px-4 py-4 flex-wrap justify-center">
                                    <div class="flex justify-center">
                                        <%= link_to(project_path, class: "text-center bg-blue-100 hover:bg-blue-200 border border-gray-400 py-1 px-2 rounded") do %>
                                        <%= t('archive_project') %>
                                        <% end %>
                                    </div>
                                    <div class="mt-2 flex justify-center">
                                        <%= link_to(project_path, class: "w-32 text-center bg-red-600 hover:bg-red-500 border border-red-600 hover:border-red-500 py-1 px-2 rounded text-white") do %>
                                        <%= t('delete_project') %>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="relative ml-2">
                        <select
                            class="appearance-none h-full rounded border block appearance-none w-full bg-white border-gray-400 text-gray-700 py-2 px-4 pr-8 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                        </select>
                        <div
                            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                            <svg
                            class="ml-2 h-6 w-6 text-gray-500"
                            fill="currentColor"
                            viewBox="0 0 24 24"
                        >
                            <path
                            d="M15.3 9.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z"
                            />
                        </svg>
                        </div>
                    </div>
                    <div class="relative ml-2">
                        <select
                            class="appearance-none h-full rounded border block appearance-none w-full bg-white border-gray-400 text-gray-700 py-2 px-4 pr-8 leading-tight focus:outline-none focus:border-l focus:border-r focus:bg-white focus:border-gray-500">
                            <option>All</option>
                            <option>Active</option>
                            <option>Archived</option>
                        </select>
                        <div
                            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                            <svg
                            class="ml-2 h-6 w-6 text-gray-500"
                            fill="currentColor"
                            viewBox="0 0 24 24"
                        >
                            <path
                            d="M15.3 9.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z"
                            />
                        </svg>
                        </div>
                    </div>
                </div>
                <div class="relative w-64 lg:ml-2">
                    <span class="absolute inset-y-0 left-0 flex items-center pl-2">
                        <svg viewBox="0 0 24 24" class="h-5 w-5 fill-current text-gray-500">
                            <path d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1114.32 4.906l5.387 5.387a1 1 0 01-1.414 1.414l-5.387-5.387A8 8 0 012 10z"></path>
                        </svg>
                    </span>
                    <input placeholder="Search" class="block pl-8 pr-4 py-2 w-full bg-white border border-gray-400 rounded text-sm placeholder-gray-500 text-white focus:bg-white focus:placeholder-gray-400 focus:text-gray-800 focus:outline-none">
                </div>
            </div>
            <div class="flex items-center">
                <%= link_to(new_invoice_path, class: 'bg-blue-200 border border-blue-200 hover:bg-blue-500 hover:border-blue-500 py-2 px-3 rounded text-blue-800 font-semibold') do %>
                <%= icon('fas', 'plus', class: 'mr-1 text-blue-900 text-sm') %>
                <%= t('.new_invoice') %>
                <% end %>
            </div>
        </div>
        <div class="w-full bg-white border border-gray-400 rounded rounded shadow-md mb-6 mt-4">
            <div class="border-b-2 bg-gray-200 rounded-t">
                <div class="w-full flex">
                    <div class="w-20 md:w-24 flex inline-block justify-center">
                        <input class="mr-2 leading-tight" type="checkbox">
                    </div>
                    <div class="w-full flex">
                        <div class="w-1/5 lg:w-1/6 flex">
                            <span class="uppercase text-sm font-semibold py-4 text-blue-900">
                                Project
                            </span>
                        </div>
                        <div class="w-1/5 lg:w-1/6 flex">
                            <span class="uppercase text-sm font-semibold py-4 text-blue-900">
                                Invoice no.
                            </span>
                        </div>
                        <div class="w-1/6 hidden lg:flex">
                            <span class="uppercase text-sm font-semibold py-4 text-blue-900">
                                Created
                            </span>
                        </div>
                        <div class="w-1/5 lg:w-1/6 flex justify-center md:justify-start">
                            <span class="uppercase text-sm font-semibold py-4 text-blue-900">
                                Amount
                            </span>
                        </div>
                        <div class="w-1/5 lg:w-1/6 flex justify-center md:justify-start">
                            <span class="uppercase text-sm font-semibold py-4 text-blue-900">
                                Due date
                            </span>
                        </div>
                        <div class="w-1/5 lg:w-1/6 flex justify-center md:justify-start">
                            <span class="uppercase text-sm font-semibold py-4 text-blue-900">
                                Status
                            </span>
                        </div>
                    </div>
                    <div class="w-16 hidden md:flex items-center">
                    </div>
                </div>
            </div>
            <div class="border-b">
                <button class="w-full collapsible text-left hover:bg-blue-200">
                    <div class="w-full flex py-4">
                        <div class="w-20 md:w-24 flex justify-center items-center">
                            <input class="w-4 h-4 mb-2" type="checkbox">
                        </div>
                        <div class="w-full flex items-center">
                            <div class="w-1/5 lg:w-1/6">
                                <p class="text-sm md:text-base">Projektet Gåsen</p>
                                <p class="text-sm text-blue-500 opacity-75 -mt-1">Kund Kundsson</p>
                            </div>
                            <div class="w-1/5 lg:w-1/6">
                                <p class="text-md text-blue-500">#12345678</p>
                            </div>
                            <div class="w-1/6 hidden lg:inline-block">
                                <p class="text-md">01-01-2020</p>
                            </div>
                            <div class="w-1/5 lg:w-1/6 flex justify-center md:justify-start">
                                <p class="text-md">9.000,00 SEK</p>
                             </div>
                            <div class="w-1/5 lg:w-1/6 flex justify-center md:justify-start">
                                <p class="text-md text-green-500">01-01-2020</p>
                            </div>
                            <div class="w-1/5 lg:w-1/6 flex justify-center md:justify-start">
                                <span class="text-sm md:text-base inline-flex bg-yellow-200 text-yellow-800 font-semibold rounded-full h-6 px-3 md:px-4 justify-center items-center">Active</span>
                            </div>
                        </div>
                        <div class="w-16 hidden md:flex items-center">
                            <a href="project">
                                <span class="icon text-gray-600">
                                    <i class="fas fa-lg fa-ellipsis-h"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </button>
            </div>
            <div class="flex border-b">
                <div class="w-full flex py-4">
                    <div class="w-20 md:w-24 flex justify-center items-center">
                        <input class="w-4 h-4 mb-2" type="checkbox">
                    </div>
                    <div class="w-full flex items-center">
                        <div class="w-1/5 lg:w-1/6">
                            <p class="text-sm md:text-base">Projektet Gåsen</p>
                            <p class="text-sm text-blue-500 opacity-75 -mt-1">Kund Kundsson</p>
                        </div>
                        <div class="w-1/5 lg:w-1/6">
                            <p class="text-md text-blue-500">#12345678</p>
                        </div>
                        <div class="w-1/6 hidden lg:inline-block">
                            <p class="text-md">01-01-2020</p>
                        </div>
                        <div class="w-1/5 lg:w-1/6 flex justify-center md:justify-start">
                            <p class="text-md">9.000,00 SEK</p>
                         </div>
                        <div class="w-1/5 lg:w-1/6 flex justify-center md:justify-start">
                            <p class="text-md text-green-500">01-01-2020</p>
                        </div>
                        <div class="w-1/5 lg:w-1/6 flex justify-center md:justify-start">
                            <span class="text-sm md:text-base inline-flex bg-green-200 text-green-800 font-semibold rounded-full h-6 px-3 md:px-4 justify-center items-center">Payed</span>
                            <span class="text-sm md:text-base inline-flex bg-gray-200 text-gray-800 font-semibold rounded-full h-6 px-3 md:px-4 justify-center items-center ml-2">Archived</span>
                        </div>
                    </div>
                    <div class="w-16 hidden md:flex items-center">
                        <span class="icon text-gray-600">
                            <i class="fas fa-lg fa-edit"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="flex border-b">
                <div class="w-full flex py-4">
                    <div class="w-20 md:w-24 flex justify-center items-center">
                        <input class="w-4 h-4 mb-2" type="checkbox">
                    </div>
                    <div class="w-full flex items-center">
                        <div class="w-1/5 lg:w-1/6">
                            <p class="text-sm md:text-base">Projektet Gåsen</p>
                            <p class="text-sm text-blue-500 opacity-75 -mt-1">Kund Kundsson</p>
                        </div>
                        <div class="w-1/5 lg:w-1/6">
                            <p class="text-md text-blue-500">#12345678</p>
                        </div>
                        <div class="w-1/6 hidden lg:inline-block">
                            <p class="text-md">01-01-2020</p>
                        </div>
                        <div class="w-1/5 lg:w-1/6 flex justify-center md:justify-start">
                            <p class="text-md">9.000,00 SEK</p>
                         </div>
                        <div class="w-1/5 lg:w-1/6 flex justify-center md:justify-start">
                            <p class="text-md text-green-500">01-01-2020</p>
                        </div>
                        <div class="w-1/5 lg:w-1/6 flex justify-center md:justify-start">
                            <span class="text-sm md:text-base inline-flex bg-green-200 text-green-800 font-semibold rounded-full h-6 px-3 md:px-4 justify-center items-center">Active</span>
                        </div>
                    </div>
                    <div class="w-16 hidden md:flex items-center">
                        <span class="icon text-gray-600">
                            <i class="fas fa-lg fa-edit"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="flex border-b">
                <div class="w-full flex py-4">
                    <div class="w-20 md:w-24 flex justify-center items-center">
                        <input class="w-4 h-4 mb-2" type="checkbox">
                    </div>
                    <div class="w-full flex items-center">
                        <div class="w-1/5 lg:w-1/6">
                            <p class="text-sm md:text-base">Projektet Gåsen</p>
                            <p class="text-sm text-blue-500 opacity-75 -mt-1">Kund Kundsson</p>
                        </div>
                        <div class="w-1/5 lg:w-1/6">
                            <p class="text-md text-blue-500">#12345678</p>
                        </div>
                        <div class="w-1/6 hidden lg:inline-block">
                            <p class="text-md">01-01-2020</p>
                        </div>
                        <div class="w-1/5 lg:w-1/6 flex justify-center md:justify-start">
                            <p class="text-md">9.000,00 SEK</p>
                         </div>
                        <div class="w-1/5 lg:w-1/6 flex justify-center md:justify-start">
                            <p class="text-md text-green-500">01-01-2020</p>
                        </div>
                        <div class="w-1/5 lg:w-1/6 flex justify-center md:justify-start">
                            <span class="text-sm md:text-base inline-flex bg-green-200 text-green-800 font-semibold rounded-full h-6 px-3 md:px-4 justify-center items-center">Active</span>
                        </div>
                    </div>
                    <div class="w-16 hidden md:flex items-center">
                        <a href="#">
                            <span class="icon text-gray-600">
                                <i class="fas fa-lg fa-edit"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="flex border-b">
                <div class="w-full flex py-4">
                    <div class="w-20 md:w-24 flex justify-center items-center">
                        <input class="w-4 h-4 mb-2" type="checkbox">
                    </div>
                    <div class="w-full flex items-center">
                        <div class="w-1/5 lg:w-1/6">
                            <p class="text-sm md:text-base">Projektet Gåsen</p>
                            <p class="text-sm text-blue-500 opacity-75 -mt-1">Kund Kundsson</p>
                        </div>
                        <div class="w-1/5 lg:w-1/6">
                            <p class="text-md text-blue-500">#12345678</p>
                        </div>
                        <div class="w-1/6 hidden lg:inline-block">
                            <p class="text-md">01-01-2020</p>
                        </div>
                        <div class="w-1/5 lg:w-1/6 flex justify-center md:justify-start">
                            <p class="text-md">9.000,00 SEK</p>
                         </div>
                        <div class="w-1/5 lg:w-1/6 flex justify-center md:justify-start">
                            <p class="text-md text-green-500">01-01-2020</p>
                        </div>
                        <div class="w-1/5 lg:w-1/6 flex justify-center md:justify-start">
                            <span class="text-sm md:text-base inline-flex bg-green-200 text-green-800 font-semibold rounded-full h-6 px-3 md:px-4 justify-center items-center">Active</span>
                        </div>
                    </div>
                    <div class="w-16 hidden md:flex items-center">
                        <span class="icon text-gray-600">
                            <i class="fas fa-lg fa-edit"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="flex">
                <div class="w-full flex py-4">
                    <div class="w-20 md:w-24 flex justify-center items-center">
                        <input class="w-4 h-4 mb-2" type="checkbox">
                    </div>
                    <div class="w-full flex items-center">
                        <div class="w-1/5 lg:w-1/6">
                            <p class="text-sm md:text-base">Projektet Gåsen</p>
                            <p class="text-sm text-blue-500 opacity-75 -mt-1">Kund Kundsson</p>
                        </div>
                        <div class="w-1/5 lg:w-1/6">
                            <p class="text-md text-blue-500">#12345678</p>
                        </div>
                        <div class="w-1/6 hidden lg:inline-block">
                            <p class="text-md">01-01-2020</p>
                        </div>
                        <div class="w-1/5 lg:w-1/6 flex justify-center md:justify-start">
                            <p class="text-md">9.000,00 SEK</p>
                         </div>
                        <div class="w-1/5 lg:w-1/6 flex justify-center md:justify-start">
                            <p class="text-md text-green-500">01-01-2020</p>
                        </div>
                        <div class="w-1/5 lg:w-1/6 flex justify-center md:justify-start">
                            <span class="text-sm md:text-base inline-flex bg-green-200 text-green-800 font-semibold rounded-full h-6 px-3 md:px-4 justify-center items-center">Active</span>
                        </div>
                    </div>
                    <div class="w-16 hidden md:flex items-center">
                        <span class="icon text-gray-600">
                            <i class="fas fa-lg fa-edit"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="px-3 py-3 bg-white border-t flex flex-col xs:flex-row items-end justify-center">
                <div class="px-2 py-2 align-middle inline-flex flex items-center">
                    <span class="inline-flex text-base xs:text-sm text-gray-900 tracking-widest">
                    1  2  3  4  5  6  7  8
                    </span>
                    <button
                        class="text-sm bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-1 px-4 rounded ml-1">
                        Next
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
