<div class="w-full md:w-11/12 xl:w-4/5 mx-auto">
	<div class="w-full mx-auto mt-4 md:mt-12 lg:mt-8 mb-3">
		<div class="w-3/4 mx-auto text-center">
			<h1 class="text-3xl md:text-4xl lg:text-5xl font-sans font-bold text-gray-100">
				Karta
			</h1>
			<div class="w-full md:w-2/3 xl:w-1/3 mx-auto mt-4">
				<div class="w-full mx-auto">
					<div class="field is-grouped">
						<p class="control is-expanded">
							<input class="input" type="text" placeholder="Län, kommun, stad">
						</p>
						<p class="control">
							<a class="button is-info">
								Sök
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="w-full mt-8 lg:mt-16">
		<div class="flex flex-wrap lg:flex-no-wrap">
			<div class="md:w-1/2 w-2/5 max-w-lg hidden lg:flex">
				<div class="w-full mx-auto">
					<div class="shadow-xl rounded-md bg-white p-3" style="height:55vh">
						<% @companies.each do |company| %>
							<div class="bg-gray-200 p-3 mb-4">
								<div class="flex">
									<div class="bg-gray-400 rounded-full h-16 w-16 flex items-center justify-center text-white font-bold">
										Logo
									</div>
									<div class="w-3/4 p-2">
										<p class="font-bold text-xl text-blue-900">
											<%= company.to_s %>
										</p>
										<%= company.geocode_address %>
									</div>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
			<div class="w-4/5 lg:w-full xl:w-3/4 max-w-full mx-auto lg:ml-4 lg:mb-32">
				<div class="shadow-xl rounded-md bg-white h-64 p-3" style="height:55vh">
					<div class="w-full mx-auto h-full"
						id="map"
						data-companies="<%= @company_geojson.to_json %>"
						data-access-token="<%= ENV.fetch('MAPBOX_API_KEY', '') %>">
					</div>
				</div>
			</div>
			<div class="w-4/5 mx-auto flex lg:hidden mt-8 mb-16">
				<div class="w-full mx-auto">
					<div class="shadow-xl rounded-md bg-white p-3" style="height:55vh">
						<% @companies.each do |company| %>
							<div class="bg-gray-200 p-3 mb-4">
								<div class="flex">
									<div class="bg-gray-400 rounded-full h-16 w-16 flex items-center justify-center text-white font-bold">
										Logo
									</div>
									<div class="w-3/4 p-2">
										<p class="font-bold text-xl text-blue-900">
											<%= company.to_s %>
										</p>
										<%= company.geocode_address %>
									</div>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
