<div class="w-full flex h-full absolute">
	<div class="flex maxcontentwidth mx-auto">
	<div class="w-1/4 hidden xl:flex pl-8 py-4">
		<div class="w-full mx-auto">
			<div class="w-full flex justify-center h-24">
				<div class="w-full px-1 mt-4">
					<input type="search" class="w-full justify-center border border-gray-400 shadow rounded-sm p-3 mx-auto" placeholder="Stad,kommun,län...">
				</div>
			</div>
			<div class="px-1 companylist overflow-auto">
				<% @companies.each do |company| %>
					<div class="bg-white rounded-lg p-2 mb-6 border border-gray-400">
						<div class="flex items-center p-2">
							<div class="bg-blue-400 rounded-full h-16 w-16 flex items-center justify-center text-white font-bold mr-4">
								Logo
							</div>
							<div class="w-3/4">
								<p class="font-bold text-xl text-blue-900">
									<%= company.to_s %>
								</p>
								<%= company.geocode_address %>
							</div>
						</div>
					</div>
				<% end %>
				<% @companies.each do |company| %>
					<div class="bg-white rounded-lg p-2 mb-6 border border-gray-400">
						<div class="flex items-center p-2">
							<div class="bg-blue-400 rounded-full h-16 w-16 flex items-center justify-center text-white font-bold mr-4">
								Logo
							</div>
							<div class="w-3/4">
								<p class="font-bold text-xl text-blue-900">
									<%= company.to_s %>
								</p>
								<%= company.geocode_address %>
							</div>
						</div>
					</div>
				<% end %>
				<% @companies.each do |company| %>
					<div class="bg-white rounded-lg p-2 mb-6 border border-gray-400">
						<div class="flex items-center p-2">
							<div class="bg-blue-400 rounded-full h-16 w-16 flex items-center justify-center text-white font-bold mr-4">
								Logo
							</div>
							<div class="w-3/4">
								<p class="font-bold text-xl text-blue-900">
									<%= company.to_s %>
								</p>
								<%= company.geocode_address %>
							</div>
						</div>
					</div>
				<% end %>
				<% @companies.each do |company| %>
					<div class="bg-white rounded-lg p-2 mb-6 border border-gray-400">
						<div class="flex items-center p-2">
							<div class="bg-blue-400 rounded-full h-16 w-16 flex items-center justify-center text-white font-bold mr-4">
								Logo
							</div>
							<div class="w-3/4">
								<p class="font-bold text-xl text-blue-900">
									<%= company.to_s %>
								</p>
								<%= company.geocode_address %>
							</div>
						</div>
					</div>
				<% end %>
				<% @companies.each do |company| %>
					<div class="bg-white rounded-lg p-2 mb-6 border border-gray-400">
						<div class="flex items-center p-2">
							<div class="bg-blue-400 rounded-full h-16 w-16 flex items-center justify-center text-white font-bold mr-4">
								Logo
							</div>
							<div class="w-3/4">
								<p class="font-bold text-xl text-blue-900">
									<%= company.to_s %>
								</p>
								<%= company.geocode_address %>
							</div>
						</div>
					</div>
				<% end %>
				<% @companies.each do |company| %>
					<div class="bg-white rounded-lg p-2 mb-6 border border-gray-400">
						<div class="flex items-center p-2">
							<div class="bg-blue-400 rounded-full h-16 w-16 flex items-center justify-center text-white font-bold mr-4">
								Logo
							</div>
							<div class="w-3/4">
								<p class="font-bold text-xl text-blue-900">
									<%= company.to_s %>
								</p>
								<%= company.geocode_address %>
							</div>
						</div>
					</div>
				<% end %>
				<% @companies.each do |company| %>
					<div class="bg-white rounded-lg p-2 mb-6 border border-gray-400">
						<div class="flex items-center p-2">
							<div class="bg-blue-400 rounded-full h-16 w-16 flex items-center justify-center text-white font-bold mr-4">
								Logo
							</div>
							<div class="w-3/4">
								<p class="font-bold text-xl text-blue-900">
									<%= company.to_s %>
								</p>
								<%= company.geocode_address %>
							</div>
						</div>
					</div>
				<% end %>
				<% @companies.each do |company| %>
					<div class="bg-white rounded-lg p-2 mb-6 border border-gray-400">
						<div class="flex items-center p-2">
							<div class="bg-blue-400 rounded-full h-16 w-16 flex items-center justify-center text-white font-bold mr-4">
								Logo
							</div>
							<div class="w-3/4">
								<p class="font-bold text-xl text-blue-900">
									<%= company.to_s %>
								</p>
								<%= company.geocode_address %>
							</div>
						</div>
					</div>
				<% end %>
				<% @companies.each do |company| %>
					<div class="bg-white rounded-lg p-2 mb-6 border border-gray-400">
						<div class="flex items-center p-2">
							<div class="bg-blue-400 rounded-full h-16 w-16 flex items-center justify-center text-white font-bold mr-4">
								Logo
							</div>
							<div class="w-3/4">
								<p class="font-bold text-xl text-blue-900">
									<%= company.to_s %>
								</p>
								<%= company.geocode_address %>
							</div>
						</div>
					</div>
				<% end %>
				<% @companies.each do |company| %>
					<div class="bg-white rounded-lg p-2 mb-6 border border-gray-400">
						<div class="flex items-center p-2">
							<div class="bg-blue-400 rounded-full h-16 w-16 flex items-center justify-center text-white font-bold mr-4">
								Logo
							</div>
							<div class="w-3/4">
								<p class="font-bold text-xl text-blue-900">
									<%= company.to_s %>
								</p>
								<%= company.geocode_address %>
							</div>
						</div>
					</div>
				<% end %>
				<% @companies.each do |company| %>
					<div class="bg-white rounded-lg p-2 mb-6 border border-gray-400">
						<div class="flex items-center p-2">
							<div class="bg-blue-400 rounded-full h-16 w-16 flex items-center justify-center text-white font-bold mr-4">
								Logo
							</div>
							<div class="w-3/4">
								<p class="font-bold text-xl text-blue-900">
									<%= company.to_s %>
								</p>
								<%= company.geocode_address %>
							</div>
						</div>
					</div>
				<% end %>
				<% @companies.each do |company| %>
					<div class="bg-white rounded-lg p-2 mb-6 border border-gray-400">
						<div class="flex items-center p-2">
							<div class="bg-blue-400 rounded-full h-16 w-16 flex items-center justify-center text-white font-bold mr-4">
								Logo
							</div>
							<div class="w-3/4">
								<p class="font-bold text-xl text-blue-900">
									<%= company.to_s %>
								</p>
								<%= company.geocode_address %>
							</div>
						</div>
					</div>
				<% end %>
				<% @companies.each do |company| %>
					<div class="bg-white rounded-lg p-2 mb-6 border border-gray-400">
						<div class="flex items-center p-2">
							<div class="bg-blue-400 rounded-full h-16 w-16 flex items-center justify-center text-white font-bold mr-4">
								Logo
							</div>
							<div class="w-3/4">
								<p class="font-bold text-xl text-blue-900">
									<%= company.to_s %>
								</p>
								<%= company.geocode_address %>
							</div>
						</div>
					</div>
				<% end %>
				<% @companies.each do |company| %>
					<div class="bg-white rounded-lg p-2 mb-6 border border-gray-400">
						<div class="flex items-center p-2">
							<div class="bg-blue-400 rounded-full h-16 w-16 flex items-center justify-center text-white font-bold mr-4">
								Logo
							</div>
							<div class="w-3/4">
								<p class="font-bold text-xl text-blue-900">
									<%= company.to_s %>
								</p>
								<%= company.geocode_address %>
							</div>
						</div>
					</div>
				<% end %>
				<% @companies.each do |company| %>
					<div class="bg-white rounded-lg p-2 mb-6 border border-gray-400">
						<div class="flex items-center p-2">
							<div class="bg-blue-400 rounded-full h-16 w-16 flex items-center justify-center text-white font-bold mr-4">
								Logo
							</div>
							<div class="w-3/4">
								<p class="font-bold text-xl text-blue-900">
									<%= company.to_s %>
								</p>
								<%= company.geocode_address %>
							</div>
						</div>
					</div>
				<% end %>
				<% @companies.each do |company| %>
					<div class="bg-white rounded-lg p-2 mb-6 border border-gray-400">
						<div class="flex items-center p-2">
							<div class="bg-blue-400 rounded-full h-16 w-16 flex items-center justify-center text-white font-bold mr-4">
								Logo
							</div>
							<div class="w-3/4">
								<p class="font-bold text-xl text-blue-900">
									<%= company.to_s %>
								</p>
								<%= company.geocode_address %>
							</div>
						</div>
					</div>
				<% end %>
				<% @companies.each do |company| %>
					<div class="bg-white rounded-lg p-2 mb-6 border border-gray-400">
						<div class="flex items-center p-2">
							<div class="bg-blue-400 rounded-full h-16 w-16 flex items-center justify-center text-white font-bold mr-4">
								Logo
							</div>
							<div class="w-3/4">
								<p class="font-bold text-xl text-blue-900">
									<%= company.to_s %>
								</p>
								<%= company.geocode_address %>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="w-full xl:w-3/4 relative">
		<div class="flex flex-wrap md:p-4 lg:p-8">
			<div class="w-full xl:w-2/3">
				<div class="xl:border-t xl:border-l xl:border-b xl:border-gray-400 rounded-l-lg" style="height:50vh"
					id="map"
					data-companies="<%= @company_geojson.to_json %>"
					data-landskap="<%= @company_geojson.to_json %>"
					data-access-token="<%= ENV.fetch('MAPBOX_API_KEY', '') %>">
				</div>
				<div class="w-full absolute flex lg:hidden top-0 mx-auto justify-center">
					<div class="w-2/3 md:w-1/3">
						<input type="search" class="w-full shadow rounded-lg p-3 mt-4 mx-auto" placeholder="Stad,kommun,län...">
					</div>
				</div>
			</div>
			<div class="w-1/3 md:w-full xl:w-1/3 p-8 hidden md:flex flex-wrap bg-white rounded-r-lg border-r border-t border-b border-gray-400 h-auto">
				<div class="w-1/3">
					<div class="bg-red-400 rounded-lg h-12 w-12 xl:h-20 xl:w-20 flex items-center justify-center text-white font-bold">
						Logo
					</div>
				</div>
				<div class="w-2/3 py-2">
					<p class="font-bold text-xl text-blue-900">
						Test Company
					</p>
					Jrnvgsgatan 7, 25224, Helsingborg, Sweden
				</div>
				<div class="mt-2">
					<p class="font-bold text-xl text-blue-900">
						About the company
					</p>
					<p class="text-sm text-gray-500 mt-2">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dolor sed viverra ipsum nunc aliquet bibendum enim.
						In massa tempor nec feugiat. Nunc aliquet bibendum enim facilisis gravida. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper.
						Amet luctus venenatis lectus magna fringilla.
					</p>
				</div>
				<div class="w-full flex mt-2 -mx-2">
					<div class="w-1/2 px-2">
						<button class="py-2 w-full shadow-md no-underline rounded-lg bg-blue-700 text-white font-semibold text-sm hover:text-white hover:bg-blue-500 focus:outline-none active:shadow-none">
							Skicka förfrågan
						</button>
					</div>
					<div class="w-1/2 px-2">
						<button class="py-2 w-full shadow-md no-underline rounded-lg bg-green-500 text-white font-semibold text-sm hover:text-white hover:bg-green-400 focus:outline-none active:shadow-none">
							Meddelande
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
