<div class="bg-white rounded-lg border border-gray-500">
  <div class="p-4 rounded-t-lg bg-gray-200">
    <%= link_to(customer_path(customer)) do %>
      <div class="w-full flex justify-between">
        <div class="text-xs uppercase font-bold text-gray-600 tracking-wide">
          <%= t('.customer') %>
        </div>
        <div class="w-1/4 justify-end flex items-center -m-2">
          <span class="text-xs uppercase font-bold tracking-wide bg-green-200 text-green-800 rounded-full h-5 px-4 flex items-center">
            <%= t('.active') %>
          </span>
        </div>
      </div>
      <div class="flex items-center pt-2">
        <div
                            class="rounded-full h-12 w-12 bg-green-500 inline-flex items-center justify-center mr-3">
          <span class="icon text-white uppercase">
            <%= customer.initials %>
          </span>
        </div>
        <div>
          <p class="text-lg font-bold text-gray-900"><%= customer.name %></p>
          <p class="text-base text-gray-700"><%= customer.phone %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="flex border-gray-300 border-t border-b">
    <div class="w-3/4 p-4">
      <div class="text-xs uppercase font-bold text-gray-600 tracking-wide">
        <%= t('.address') %>
      </div>
      <% if customer.street.present? %>
        <p class="text-3xl text-gray-900"><%= customer.street %></p>
      <% end %>
      <% if customer.zip_code.present? && customer.city.present? %>
        <p class="text-xl text-gray-700"><%= customer.zip_code %>, <%= customer.city %></p>
      <% elsif customer.zip_code.present? %>
        <p class="text-xl text-gray-700"><%= customer.zip_code %></p>
      <% elsif customer.city.present? %>
        <p class="text-xl text-gray-700"><%= customer.city %></p>
      <% end %>
    </div>
  </div>
  <div class="p-4 rounded-b-lg text-base text-blue-600">
    <% if customer.email.present? || customer.web.present? %>
      <div class="text-xs uppercase font-bold text-gray-600 tracking-wide">
        <%= t('.web') %>
      </div>
      <div class="flex items-center mt-2">
        <% if customer.email.present? %>
          <div class="w-5 inline-block text-center text-lg">
            <i class="far fa-envelope fa-2xl"></i>
          </div>
          <div class="text-center inline ml-2">
            <%= link_to(customer.email, "mailto:#{customer.email}") %>
          </div>
        <% end %>
      </div>
      <div class="flex items-center mt-1">
        <% if customer.web.present? %>
          <div class="w-5 inline-block text-center text-lg">
            <i class="fas fa-at fa-2xl"></i>
          </div>
          <div class="text-center inline ml-2">
            <%= link_to(customer.web, customer.web, target: '_blank') %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
