<% organisations ||= [] %>
<%= form_with(model: customer, local: true, class: 'w-full xl:w-5/6 flex flex-wrap bg-white border border-gray-400 shadow-xl rounded-lg lg:mt-3 p-2') do |form| %>
<div class="w-full lg:w-1/2 lg:p-2">
  <div class="h-12 bg-gray-800 px-3 py-2 rounded-t">
    <h1 class="text-white font-semibold font-semibold text-lg xl:text-xl"><%= t(".general") %></h1>
  </div>
  <div class="border-l border-b border-r border-gray-400 bg-white shadow p-3 xl:px-6">
    <div class="flex flex-wrap xl:flex-no-wrap mb-1 items-center">
      <div class="w-full lg:w-56 pr-2">
        <%= form.label(:name, class: 'form-label text-sm lg:text-base text-gray-700 font-semibold mb-1 lg:mb-0') %>
      </div>
      <div class="w-full">
        <%= form.text_field(
            :name, id: 'name', autofocus: true,
            class: 'shadow appearance-none border rounded w-full py-2 px-3'
          ) %>
      </div>
    </div>
  </div>
  <div class="h-12 bg-gray-800 px-3 py-2 rounded-t mt-4">
    <h1 class="text-white font-semibold font-semibold text-lg xl:text-xl"><%= t('.belongs_to') %></h1>
  </div>
  <div class="border-l border-b border-r border-gray-400 bg-white shadow">
    <div class="px-3 xl:px-6 py-3">
      <div class="flex flex-wrap xl:flex-no-wrap mb-6 items-center">
        <div class="w-full lg:w-56 pr-2">
          <%= form.label(:organisation, class: 'form-label text-sm lg:text-base text-gray-700 font-semibold mb-1 lg:mb-0') %>
        </div>
        <div class="w-full">
          <%= form.select(:organisation_id, organisations.collect { |org| [org.to_s, org.id] }, {}, id: 'organisation', class: 'form-select mt-1 block w-full h-10 bg-white shadow-none') %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render('form_contact', form: form) %>
<%= render('form_address', form: form) %>
<%= render('form_misc') %>
<div class="w-full flex border-t border-gray-300 pt-3 -mb-1 px-4 py-2 mt-6">
  <div class="w-full flex justify-end items-center">
    <div class="w-20 mr-2">
      <%= link_to("Cancel", customers_path, class: "w-full text-blue-600 uppercase font-bold text-sm hover:text-blue-300") %>
    </div>
    <div class="w-30">
      <%= form.submit(class: 'py-2 px-2 w-full uppercase shadow-md no-underline rounded bg-blue-600 text-white font-bold text-sm hover:text-white hover:bg-blue-400 focus:outline-none active:shadow-none') %>
    </div>
  </div>
</div>
<% end %>
