<div class="w-full flex justify-between bg-white border-b-2 border-green-500 px-4 py-2 lg:hidden">
  <div class="mb-1 leading-tight">
    <h1 class="text-3xl font-bold text-gray-800"><%= t('.title') %></h1>
    <h2 class="text-xl font-medium text-green-600">All Customers</h2>
  </div>
  <div class="flex items-start mt-1">
    <%= link_to(new_customer_path, class: 'btn btn-green normal-case text-base') do %>
      <%= t('.new_customer') %>
    <% end %>
  </div>
</div>
<div class="w-full lg:mb-2 flex justify-start lg:justify-between items-center">
  <div class="hidden lg:flex">
    <h2 class="text-gray-900 text-2xl xl:text-3xl font-semibold leading-none">
      <%= t('.title') %>
    </h2>
  </div>
  <div class="flex items-start hidden lg:flex ml-2">
    <%= link_to(new_customer_path, class: 'btn btn-green py-2 normal-case text-base') do %>
      <div class="-ml-1 mr-1">
        <%= render('application/icons/plus') %>
      </div>
      <%= t('.new_customer') %>
    <% end %>
  </div>
</div>
