<div class="flex border-b border-gray-400">
  <%= link_to(customer_path(customer), class: 'flex-grow flex py-3 hover:bg-green-200') do %>
    <div class="px-2 sm:px-4 xl:px-6 flex justify-center items-center">
      <div class="rounded-full h-8 w-8 md:h-10 md:w-10 bg-green-600 inline-flex
                      items-center justify-center text-white font-bold text-xs md:text-sm lg:text-base">
        <%= customer.initials %>
      </div>
    </div>
    <div class="flex-grow flex items-center text-xs sm:text-sm xl:text-base">
      <div class="w-1/3 lg:w-1/5 pr-2 md:pr-4">
        <p class=""><%= customer.name%></p>
        <p class="text-xs md:text-sm text-gray-700 opacity-75">Individual</p>
      </div>
      <div class="w-1/3 lg:w-1/5 break-all pr-2 md:pr-4">
        <p class=""><%= customer.latest_project %></p>
      </div>
      <div class="w-1/5 hidden lg:inline-block">
        <p class=""><%= customer.projects.count %></p>
      </div>
      <div class="w-1/3 lg:w-1/5 flex">
        5.799,00 kr
      </div>
      <div class="w-1/6 lg:w-1/6 hidden lg:flex items-center">
        <div class="pl-4 md:pl-5 flex items-center">
          <div class="rounded-full h-3 w-3 bg-blue-500">
          </div>
        </div>
      </div>
    </div>
    <div class="w-1/6 lg:w-1/6 flex lg:hidden items-center">
      <div class="pl-4 md:pl-5 flex items-center">
        <div class="rounded-full h-3 w-3 bg-blue-500">
        </div>
      </div>
    </div>
  <% end %>
  <div class="hidden md:flex items-center relative inline-block" @click.away="edit_dropdown = false"
    x-data="{ edit_dropdown: false }">
    <div class="cursor-pointer h-16 w-10 xl:w-16 -ml-12 xl:-ml-20 flex items-center justify-center"
      @click="edit_dropdown = !edit_dropdown" @click="edit_dropdown = true">
      <svg class="h-6 w-6 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
      </svg>
    </div>
    <%= render('customers/edit_dropdown', customer: customer) %>
  </div>
</div>
