<div class="px-4 pb-4 lg:px-0 mt-4 lg:mt-2">
  <%= render('search_field') %>
  <div class="bg-white border border-gray-400 shadow-md">
    <div class="w-full flex justify-between items-center h-16 border-b border-gray-400 px-4">
      <div class="flex">
        <div class="w-20 h-16 px-3 mr-2 -mb-px flex justify-center items-center border-b-2 border-green-600 text-green-600 font-semibold">
          <%= t('.active') %>
        </div>
        <div class="w-20 h-16 px-3 mr-2 -mb-px flex justify-center items-center text-gray-700 hover:font-semibold hover:text-green-500">
          <%= t('.archived') %>
        </div>
        <div class="w-20 h-16 px-3 mr-2 -mb-px flex justify-center items-center text-gray-700 hover:font-semibold hover:text-green-500">
          <%= t('.all') %>
        </div>
      </div>
    </div>
    <div class="w-full">
      <div class="border-b-2 bg-gray-200">
        <div class="w-full flex py-4">
          <div class="w-20 md:w-24 flex inline-block justify-center">
          </div>
          <div class="w-full flex">
            <div class="w-1/3 lg:w-1/5 flex">
              <span class="uppercase text-sm font-semibold text-blue-900">
                <%= t('.name') %>
              </span>
            </div>
            <div class="w-1/3 lg:w-1/5 flex">
              <span class="uppercase text-sm font-semibold text-blue-900">
                <%= t('.latest_project') %>
              </span>
            </div>
            <div class="w-1/5 hidden lg:flex">
              <span class="uppercase text-sm font-semibold text-blue-900">
                <%= t('.active_projects') %>
              </span>
            </div>
            <div class="w-1/3 lg:w-1/5 flex">
              <span class="uppercase text-sm font-semibold text-blue-900">
                <%= t('.unpaid') %>
              </span>
            </div>
            <div class="w-1/3 lg:w-1/5 flex justify-center md:justify-start">
              <span class="uppercase text-sm font-semibold text-blue-900">
                <%= t('.status') %>
              </span>
            </div>
          </div>
          <div class="w-16 hidden md:flex items-center">
          </div>
        </div>
      </div>
      <% if (@customers.empty?) %>
        <%= render('empty') %>
      <% else %>
        <% @customers.each_with_index do |customer, idx| %>
          <%= render("row", customer: customer, odd: idx % 2 == 0) %>
        <% end %>
      <% end %>
      <div class="px-3 bg-white flex flex-col xs:flex-row items-end justify-center">
        <div class="px-2 align-middle inline-flex flex items-center py-4">
          <%= render partial: 'pagy/nav', locals: {pagy: @pagy} %>
        </div>
      </div>
    </div>
  </div>
</div>
