<h1 class="title is-1"><%= t('.title') %></h1>
<% content_for(:sidemenu) do %>
  <%= render('panel', active: :edit, customer: @customer) %>
<% end %>

<div class="w-full justify-center border">
	<div class="w-full border">
		<div class="card">
			<div class="card-content">
				<div class="media">
					<div class="media-content">
						<p class="text-3xl font-bold"><%= @customer.name %></p>
						<%= simple_form_for(@customer) do |f| %>
							<%= f.input(:name) %>
							<%= f.input(:phone) %>
							<%= f.input(:address) %>
							<%= f.input(:email) %>
							<%= bulma_button(f) %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
