<% content_for(:sidebar) do %>
  <%= render('application/account_menu', current: :customers) %>
<% end %>
<% content_for(:header_title) do %>
  <h1 class="text-3xl font-bold text-gray-900"><%= t('.title')%></h1>
<% end %>
<div class="w-full overflow-y-auto lg:flex-grow pb-4 sm:px-4 sm:py-2 lg:px-8 lg:py-6">
  <div class="flex-grow mx-auto">
    <div class="w-full px-2 pt-2 pb-1 lg:p-0">
      <div class="flex items-center">
        <%= link_to(customers_path, class: 'text-gray-500') do %>
          <%= t('.customers') %>
        <% end %><svg class="h-5 w-5 inline-block mt-px text-gray-500" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
          clip-rule="evenodd" />
        </svg>
        <%= link_to(customer_path, class: 'text-gray-500') do %>
          <%= @customer.name %>
        <% end %> <svg class="h-5 w-5 inline-block mt-px text-gray-500" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd" />
        </svg>
        <span class="">
          <%= t('.edit_customer') %>
        </span>
      </div>
      <h1 class="text-3xl font-bold text-gray-800 lg:mt-1"><%= @customer.name %></h1>
    </div>
    <%= render('form', customer: @customer, organisations: @organisations) %>
    <div class="w-full xl:w-5/6 flex flex-col flex-wrap bg-white border border-gray-300 rounded-lg lg:mt-3 p-4">
      <div class="h-12 bg-red-500 px-3 py-2 rounded-t">
        <h1 class="text-white font-semibold font-semibold text-lg xl:text-xl"><%= t('.danger_zone') %></h1>
      </div>
      <div class="w-full flex pt-3 -mb-1 px-4 mt-6">
        <div class="flex flex-col">
          <p><%= t('.delete_customer') %></p>
          <div class="w-32 mt-6">
            <%= button_to(t('.delete'), customer_path(@customer),
                method: :delete,
                class: "py-2 px-2 w-full uppercase no-underline rounded bg-red-600 text-white font-bold text-sm hover:text-white hover:bg-red-400 focus:outline-none active:shadow-none",
                data: { confirm: t(".delete_confirm") }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
