<% content_for(:sidebar) do %>
  <%= render('application/account_menu', current: :customers) %>
<% end %>
<% content_for(:header_title) do %>
  <%= t('.title') %>
<% end %>
<div class="w-full lg:p-3 xl:p-6">
  <%= render("heading") %>
  <%= render('search_field') %>
  <%= render("table") %>
</div>
