<div class="w-full mb-4">
  <span class="text-2xl font-medium mr-2 ml-3">
    Address
  </span>
</div>
<div class="w-full">
  <div class="flex flex-wrap mb-2">
    <div class="w-1/2 px-3 mb-6 md:mb-0">
      <%= form.label(:street_and_nr, class: "tracking-wide leading-none text-gray-700 font-semibold mb-1 lg:mb-2") %>
      <%= form.text_field(:street, id: 'title',
                          class: "appearance-none block w-full
                                  text-gray-900 border border-gray-500
                                  rounded py-2 px-3 leading-tight focus:outline-none focus:shadow-outline
                                  focus:border-blue-600 mt-2") %>
    </div>
    <div class="w-1/2 px-3">
      <%= form.label(:zip_code, class: "tracking-wide leading-none text-gray-700 font-semibold mb-1 lg:mb-2") %>
      <%= form.text_field(:zip_code, id: 'zip_code',
                          class: "appearance-none block w-full
                                  text-gray-900 border border-gray-500
                                  rounded py-2 px-3 leading-tight focus:outline-none focus:shadow-outline
                                  focus:border-blue-600 mt-2") %>
    </div>
  </div>
</div>
<div class="w-full">
  <div class="flex flex-wrap mb-2">
    <div class="w-1/2 px-3 mb-6 md:mb-0">
      <%= form.label(:city, class: "tracking-wide leading-none text-gray-700 font-semibold mb-1 lg:mb-2") %>
      <%= form.text_field(:city, id: 'city',
                          class: "appearance-none block w-full
                                  text-gray-900 border border-gray-500
                                  rounded py-2 px-3 leading-tight focus:outline-none focus:shadow-outline
                                  focus:border-blue-600 mt-2") %>
    </div>
    <div class="w-1/2 px-3 mb-6">
      <div class="relative">
        <%= form.label(:country, class: "tracking-wide leading-none text-gray-700 font-semibold mb-1 lg:mb-2") %>
        <%= form.select(:country, options_for_select([['Sweden', 1]]), {},
                        class: 'appearance-none bg-white block w-full
                        text-gray-900 border border-gray-500
                        rounded py-2 px-3 leading-tight focus:outline-none focus:shadow-outline
                        focus:border-blue-600 mt-2') %>
        <div class="mt-8 pointer-events-none absolute inset-y-0 right-0
                          flex items-center px-2 text-gray-700">
          <svg class="ml-2 h-6 w-6 text-gray-500" fill="currentColor" viewBox="0 0 24 24">
            <path d="M15.3 9.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4
                            0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z" />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
