<div class="w-full mb-4">
  <span class="text-2xl font-medium mr-2 ml-3">
    Address
  </span>
</div>
<div class="w-full">
  <div class="flex flex-wrap mb-2">
    <div class="w-1/2 px-3 mb-6 md:mb-0">
      <%= form.label(:street_and_nr, class: "form-label lg:mb-2") %>
      <%= form.text_field(:street, id: 'street',
                          class: "form-input mt-2") %>
    </div>
    <div class="w-1/2 px-3">
      <%= form.label(:zip_code, class: "form-label lg:mb-2") %>
      <%= form.text_field(:zip_code, id: 'zip_code',
                          class: "form-input mt-2") %>
    </div>
  </div>
</div>
<div class="w-full">
  <div class="flex flex-wrap mb-2">
    <div class="w-1/2 px-3 mb-6 md:mb-0">
      <%= form.label(:city, class: "form-label lg:mb-2") %>
      <%= form.text_field(:city, id: 'city',
                          class: "form-input mt-2") %>
    </div>
    <div class="w-1/2 px-3 mb-6">
      <div class="relative">
        <%= form.label(:country, class: "form-label lg:mb-2") %>
        <%= form.select(:country, options_for_select([['Sweden', 1]]), {},
                        class: 'form-input mt-2') %>
        <div class="mt-8 pointer-events-none absolute inset-y-0 right-0
                          flex items-center px-2 text-gray-700">
          <%= render('application/icons/arrow_down') %>
        </div>
      </div>
    </div>
  </div>
</div>
