<div class="flex items-center justify-start justify-between w-full p-3 lg:mb-2 lg:p-0">
  <div class="flex">
    <h2 class="text-2xl font-semibold leading-none text-gray-900 xl:text-3xl">
      <% if params[:status].present? %>
        <%= t("model.project.status.#{params[:status]}") %>
        <span class="lowercase"><%= t('.title') %></span>
      <% else %>
        <%= t('.all_projects') %>
      <% end %>
    </h2>
  </div>
  <div class="flex items-start ml-2">
    <%= link_to(new_project_path, class: 'btn btn-blue btn-bounce sm:text-base sm:px-4 sm:py-2') do %>
      <div class="mr-1 -ml-1">
        <%= render('application/icons/plus') %>
      </div>
      <%= t('.new_project') %>
    <% end %>
  </div>
</div>
