<div class="flex justify-between mb-4 shadow-md border border-gray-300 bg-white items-center h-16 lg:pr-4">
  <div class="flex">
    <div x-data="{ sort_by: false }" @click.away="sort_by = false" class="border-r border-gray-300 px-2 sm:px-4">
      <button @click="sort_by = !sort_by" @click="open = true" :class="{'text-blue-600': sort_by}"
        class="btn normal-case py-2 px-1 text-gray-900 hover:text-blue-600 flex items-center">
        <div class="mr-1">
          <%= render('application/icons/filter') %>
        </div>
        <span class="text-sm mr-1">
          <%= t('.sort_by_name') %>
        </span>
        <div class="transform" :class="{'rotate-180': sort_by}">
          <%= render('application/icons/arrow_down') %>
        </div>
      </button>
      <%= render('sort_by') %>
    </div>
    <div x-data="{ date_filter: false }" @click.away="date_filter = false" class="border-r border-gray-300 px-4">
      <button @click="date_filter = !date_filter" @click="open = true" :class="{'text-blue-600': date_filter}"
        class="btn normal-case py-2 px-1 text-gray-900 hover:text-blue-600 flex items-center">
        <div class="mr-1">
          <%= render('application/icons/calendar') %>
        </div>
        <span class="text-sm mr-1">
          <%= t('.date') %>
        </span>
        <div class="transform" :class="{'rotate-180': date_filter}">
          <%= render('application/icons/arrow_down') %>
        </div>
      </button>
      <%= render('date_filter') %>
    </div>
    <div class="px-4">
      <div class="relative w-40 sm:w-48 xl:w-64">
        <span class="absolute inset-y-0 left-0 pl-2 flex items-center">
          <svg class="h-5 w-5 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
          </svg>
        </span>
        <input placeholder="<%= t('.search') %>"
          class="form-input block pl-8 pr-4 py-2 w-full bg-white border border-gray-400 rounded text-sm">
      </div>
    </div>
  </div>
  <div class="relative ml-4 hidden lg:inline-block">
    <select class="form-input text-sm bg-white pr-8">
      <option>5</option>
      <option>10</option>
      <option>20</option>
    </select>
    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
      <svg class="h-5 w-5 text-gray-500" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
          clip-rule="evenodd" />
      </svg>
    </div>
  </div>
</div>
