<% filtered ||= false %>
<% projects ||= [] %>
<% customer ||= nil %>
<% show_filters = true if show_filters.nil? %>
<div class="px-2 pb-4 lg:px-0">
  <div class="bg-white border border-gray-300 shadow-md">
    <% if show_filters %>
      <div class="flex items-center justify-between flex-grow h-16 px-4 border-b border-gray-300">
        <div class="flex">
          <%= project_status_button(:active, params[:status], object: customer) %>
          <%= project_status_button(:archived, params[:status], object: customer) %>
          <%= project_status_button(:all, params[:status], object: customer) %>
        </div>
      </div>
    <% end %>
    <div class="flex-grow">
      <div class="bg-gray-100 border-b">
        <div class="flex flex-grow py-4">
          <div class="flex items-center justify-center px-2 sm:px-4 xl:px-6">
            <div class="w-8 md:w-10">
            </div>
          </div>
          <div class="flex flex-grow text-xs font-semibold text-blue-900 uppercase md:text-sm">
            <div class="w-1/3 lg:w-1/5">
              <%= t('.name') %>
            </div>
            <div class="w-1/3 lg:w-1/5">
              <%= t('.customer') %>
            </div>
            <div class="w-1/3 lg:w-1/5">
              <%= t('.time') %>
            </div>
            <div class="hidden w-1/5 lg:flex">
              <%= t('.created') %>
            </div>
            <div class="hidden lg:w-1/5 lg:flex">
              <%= t('.status') %>
            </div>
          </div>
          <div class="flex w-1/6 text-xs font-semibold text-blue-900 uppercase lg:w-1/6 lg:hidden md:text-sm">
            <%= t('.status') %>
          </div>
        </div>
      </div>
      <% if projects.empty? %>
        <%= render('projects/empty', filtered: filtered) %>
      <% else %>
        <% projects.each_with_index do |project, idx| %>
          <%= render("projects/row", project: project, odd: idx % 2 == 0) %>
        <% end %>
      <% end %>
      <div class="flex flex-col items-end justify-center px-3 bg-white xs:flex-row">
        <div class="flex inline-flex items-center px-2 py-4 align-middle">
          <%= render("pagy/nav", pagy: @pagy) if @pagy.present? %>
        </div>
      </div>
    </div>
  </div>
</div>
