<% content_for(:sidebar) do %>
  <%= render('application/account_menu', current: :projects) %>
<% end %>
<% content_for(:header_title) do %>
  <h1 class="text-3xl font-bold text-gray-900"><%= t('.title') %></h1>
<% end %>
<div class="flex-grow lg:p-8">
  <%= render("heading") %>
  <%= render("search_field") %>
  <%= render("table") %>
</div>
