<% content_for(:sidebar) do %>
  <%= render('application/account_menu', current: :projects) %>
<% end %>
<% content_for(:header_title) do %>
  <%= t('.title') %>
<% end %>
<div class="w-full px-2 py-2 pb-4 lg:p-6">
  <div class="pb-2 text-sm font-medium text-gray-900 lg:text-sm">
    <div class="flex items-center leading-none">
      <% if @customer.present? %>
        <%= link_to(@customer, customer_path(@customer), class: 'text-gray-500') %>
        <%= render("application/icons/arrow_right") %>
        <span class="text-gray-500">
          <%= t('.projects') %>
        </span>
        <%= render("application/icons/arrow_right") %>
      <% else %>
        <%= link_to(projects_path, class: 'text-gray-500') do %>
          <%= t('.projects') %>
        <% end %>
        <%= render("application/icons/arrow_right") %>
      <% end %>
      <span class="">
        <%= t('.title') %>
      </span>
    </div>
  </div>
  <%= render('form', project: @project, customer: @customer, customers: @customers) %>
</div>
