<h3 class="font-bold text-sm text-blue-900"><%= company.name %></h3>
<ul class="mt-2">
    <li>
        <div class="w-2 inline-block text-center text-sm">
            <%= icon('fas', 'map-marker-alt', class: "text-blue-900 mt-2") %>
        </div>
        <div class="text-gray-600 inline ml-2 text-sm">
            <%= t('.HomeLocation') %>
        </div>
        </li>
        <li class="-mt-1">
        <div class="w-4 inline-block text-center text-xl">
            <%= icon('fas', 'car', class: "text-blue-900 mt-2 fa-2xl") %>
        </div>
        <div class="text-gray-600 inline ml-3 text-sm">
            <%= t('.Helsingborg') %>, <%= t('.Höganäs') %>, <%= t('.Klippan') %>, <%= t('.Lund') %>
        </div>
        </li>
        <li class="-mt-1">
        <div class="w-4 inline-block text-center text-xl">
            <%= icon('fas', 'user-tie', class: "text-blue-900 mt-2 fa-2xl") %>
        </div>
        <div class="text-gray-600 inline ml-3 text-sm">
            <%= t('.Certifierad kontrollansvarig') %>, <%= t('.Projektledare') %>
        </div>
    </li>
</ul>
