<h3 class="text-sm font-bold text-blue-900"><%= company.name %></h3>
<ul class="mt-2">
  <li>
    <div class="inline-block w-2 text-sm text-center">
      <%= icon('fas', 'map-marker-alt', class: "text-blue-900 mt-2") %>
    </div>
    <div class="inline ml-2 text-sm text-gray-600">
      <%= t('.HomeLocation') %>
    </div>
  </li>
  <li class="-mt-1">
    <div class="inline-block w-4 text-xl text-center">
      <%= icon('fas', 'car', class: "text-blue-900 mt-2 fa-2xl") %>
    </div>
    <div class="inline ml-3 text-sm text-gray-600">
      <%= t('.Helsingborg') %>, <%= t('.Höganäs') %>, <%= t('.Klippan') %>, <%= t('.Lund') %>
    </div>
  </li>
  <li class="-mt-1">
    <div class="inline-block w-4 text-xl text-center">
      <%= icon('fas', 'user-tie', class: "text-blue-900 mt-2 fa-2xl") %>
    </div>
    <div class="inline ml-3 text-sm text-gray-600">
      <%= t('.Certifierad kontrollansvarig') %>, <%= t('.Projektledare') %>
    </div>
  </li>
</ul>
