<div class="p-6 mt-8 mb-32 md:mt-32">
  <div class="container flex max-w-sm mx-auto mt-4 bg-white rounded-lg shadow md:mt-8">
    <div class="w-full p-8 text-center">
      <h1 class="text-2xl font-bold text-gray-900"><%= t('.title') %></h1>
      <div id="clearance" class="password-reset">
        <div class="mb-4">
          <span class="text-base text-gray-600">
            <%= t('.description') %>
          </span>
        </div>
        <%= form_with(scope: :password, url: passwords_path, local: true) do |form| %>
          <div class="mb-4">
            <%= form.label(:email, t('helpers.label.password.email'), class: "form-label lg:mb-2") %>
            <%= form.email_field(:email, id: 'email', class: 'form-input mt-2', autofocus: true) %>
          </div>
          <div class="mt-6">
            <%= form.submit(class: "w-full bg-gray-800 hover:bg-gray-500 text-white text-sm h-10 font-semibold rounded") %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
