<div class="container sm:mx-auto xl:mx-auto mt-12 md:mt-20 lg:mt-40 xl:mt-40">
  	<div class="flex flex-wrap w-full md:w-11/12 lg:w-full xl:w-5/6 mx-auto">
		<div class="w-full md:w-2/3">
	  		<div class="w-full mx-auto xl:mx-0 lg:w-5/6">
				<div class="w-10/12 lg:w-full mx-auto xl:mx-0">
					<h1 class="text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-sans font-bold text-gray-200">
						<%= t('.title') %>
					</h1>
					<p class="font-medium text-md md:text-base lg:text-lg text-gray-500 mt-4">
						<%= t('.description') %>
					</p>
					<div class="flex mt-8">
							<%= link_to(support_error_path, class: 'button is-primary font-medium text-md md:text-lg') do %>
							<%= t('.contact') %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
			<div class="w-5/6 md:w-1/3 mx-auto mt-8 md:mt-0 mb-12">
				<div class="w-7/12 md:w-3/4 lg:w-10/12 xl:w-11/12 mx-auto mt-12 xl:mt-12">
					<%= image_tag('empty_page.svg')%>
				</div>
			</div>
	</div>
</div>
