<div id="nav">
  <nav class="flex flex-shrink-0 h-16">
    <div class="flex-shrink-0 px-6 bg-gray-900 w-48 xl:w-64 border-r border-gray-700 hidden lg:flex items-center">
      <div class="hidden lg:block">
        <%= link_to(root_path) do %>
          <%= image_tag('apti_logo.svg', alt: "Home", style:"width: 4rem", class: "") %>
        <% end %>
      </div>
    </div>
    <div
      class="flex flex-1 bg-gray-900 lg:bg-gray-900 items-center justify-between bg-white px-2 lg:px-6 border-b border-gray-700">
      <div class="lg:hidden">
        <%= link_to(root_path) do %>
          <%= image_tag('apti_logo.svg', alt: "Home", style:"width: 3.5rem", class: "") %>
        <% end %>
      </div>
      <%= render('application/mobile_menu') %>
      <div class="w-full grid grid-cols-3 gap-4 items-center hidden lg:grid">
        <div class="">
          <h1 class="text-2xl font-bold text-white"><%= yield(:header_title) %></h1>
        </div>
        <div class="flex justify-center">
          <div class="relative w-full">
            <span class="absolute inset-y-0 left-0 flex items-center pl-2">
              <svg class="h-5 w-5 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
              </svg>
            </span>
            <input placeholder="Search for projects, customers etc."
              class="block pl-8 pr-4 py-2 w-full bg-gray-700 rounded text-sm placeholder-white text-white focus:bg-white focus:placeholder-gray-600 focus:text-gray-900 focus:outline-none focus:border-gray-500">
          </div>
        </div>
        <div class="flex justify-end items-center">
          <div @click.away="open = false" class="relative inline-block" x-data="{ open: false }">
            <button @click="open = !open" class="flex items-center text-white focus:outline-none" @click="open = true">
              <div
              class="h-10 w-10 rounded bg-indigo-700 flex items-center justify-center text-white font-bold uppercase">
                <%= current_user.initials %>
              </div>
              <span class="hidden lg:inline ml-2 mr-2 text-sm font-semibold">
                <%= current_user.name %>
                <p class="text-xs text-gray-400 flex justify-start"><%= @organisation %></p>
              </span>
              <svg class="h-5 w-5 -mt-4 transform" viewBox="0 0 20 20" fill="currentColor" :class="{'rotate-180': open}">
                <path fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd" />
              </svg>
            </button>
            <%= render('header_dropdown') %>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
