<% current ||= nil %>
<div class="inset-y-0 left-0 w-48 xl:w-64 bg-gray-900 border-r border-gray-700 overflow-y-auto hidden lg:block">
  <nav class="px-6">
    <%= sidebar_link([:accounts, :show], account_url) do %>
      <span class="inline-flex flex items-center">
        <svg class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
          d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
        </svg>
        <span class="ml-3">
          <%= t('.home') %>
        </span>
      </span>
    <% end %>
    <%= sidebar_link(:customers, customers_path) do %>
      <span class="inline-flex flex items-center">
        <svg class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
          d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
        </svg>
        <span class="ml-3">
          <%= t('.customers') %>
        </span>
      </span>
    <% end %>
    <%= sidebar_link(:projects, projects_url(status: :active)) do %>
      <span class="inline-flex flex items-center">
        <svg class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
          d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
        </svg>
        <span class="ml-3">
          <%= t('.projects') %>
        </span>
      </span>
      <span
      class="inline-block w-9 text-center py-1 leading-none text-xs font-semibold text-gray-700 bg-gray-300 rounded-full">
        <%= current_user.projects.active.count %>
      </span>
    <% end %>
    <% if sidebar_active?(:projects) %>
      <%= sidebar_sublink(projects_path) do %>
        <span class="inline-flex">
          <span class="font-light text-sm">
            <%= t('.all_projects') %>
          </span>
        </span>
      <% end %>
      <%= sidebar_sublink(projects_path(status: :paused)) do %>
        <span class="inline-flex">
          <span class="font-light text-sm">
            <%= t('.paused_projects') %>
          </span>
        </span>
      <% end %>
      <%= sidebar_sublink(projects_path(status: :archived)) do %>
        <span class="inline-flex">
          <span class="font-light text-sm">
            <%= t('.archived_projects') %>
          </span>
        </span>
      <% end %>
    <% end %>
    <%= sidebar_link(:invoices, invoices_path) do %>
      <span class="inline-flex flex items-center">
        <svg class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
          d="M7 21h10a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v14a2 2 0 002 2z" />
        </svg>
        <span class="ml-3">
          <%= t('.invoices') %>
        </span>
      </span>
    <% end %>
    <%= sidebar_link(:services, services_path) do %>
      <span class="inline-flex flex items-center">
        <svg class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
        </svg>
        <span class="ml-3">
          <%= t('.services') %>
        </span>
      </span>
    <% end %>
    <p class="mt-4 text-xs font-semibold text-gray-600 uppercase tracking-wide ml-4">
      <%= t('.settings') %>
    </p>
    <%= sidebar_link([:accounts, :settings], settings_account_path) do %>
      <span class="inline-flex flex items-center">
        <svg class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
          d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>
        <span class="ml-3">
          <%= t('.settings') %>
        </span>
      </span>
    <% end %>
  </nav>
</div>
