<div class="bg-blue-800">
	<div class="container mx-auto px-1">
	  	<div class="flex">
			<div class="flex -mb-px mr-4 md:mr-8">
				<%= link_to(account_path,
						class: 'no-underline text-white md:text-blue-dark flex items-center py-4') do %>
					<div class="w-10 inline-block text-center">
						<%= icon('fas', 'home', class: "text-white") %>
					</div>
					<div class="text-white inline">
						<%= t('.home') %>
					</div>
				<% end %>
			</div>
			<div class="flex -mb-px mr-4 md:mr-8">
				<%= link_to(projects_path,
					class: 'no-underline text-white md:text-blue-dark flex items-center py-4') do %>
					<div class="w-10 inline-block text-center">
						<%= icon('fas', 'tasks', class: "text-white") %>
					</div>
					<div class="text-white inline">
						<%= t('.projects') %>
					</div>
				<% end %>
			</div>
			<div class="flex -mb-px mr-4 md:mr-8">
				<%= link_to(account_path,
					class: 'no-underline text-white md:text-blue-dark flex items-center py-4') do %>
					<div class="w-10 inline-block text-center">
						<%= icon('fas', 'users', class: "text-white") %>
					</div>
					<div class="text-white inline">
						<%= t('.customers') %>
					</div>
				<% end %>
			</div>
			<div class="flex -mb-px mr-4 md:mr-8">
				<%= link_to(settings_path,
					class: 'no-underline text-white md:text-blue-dark flex items-center py-4') do %>
					<div class="w-10 inline-block text-center">
						<%= icon('fas', 'user-cog', class: "text-white") %>
					</div>
					<div class="text-white inline">
						<%= t('.settings') %>
					</div>
				<% end %>
			</div>
		  </div>
		  <%= yield(:account_menu) %>
	</div>
</div>
