<div class="bg-gray-900 border-t border-gray-800">
	<div class="container-fluid mx-auto">
		<div class="w-5/6 mx-auto">
			<div class="">
				<div class="flex flex-wrap text-center md:text-left md:mb-8 md:justify-end">
					<div class="w-full md:w-1/4 mt-8 md:mt-12 justify-center md:justify-start flex">
					<%= link_to(root_path) do%>
						<%= image_tag('apti_logo.svg', alt: 'Home', style: 'width: 3.75rem;') %>
					<% end %>
					</div>
					<div class="w-1/2 md:w-1/4 mt-8 md:mt-12">
						<span class="font-semibold text-md md:text-lg text-white">
							<%= t('.get_started') %>
						</span>
						<p class="text-sm text-gray-400 mt-4">
                            <%= link_to(sign_in_path, class: 'text-blue-400') do %>
                                <%= t('.sign_in') %>
                            <% end %>
						</p>
						<p class="text-sm text-gray-400 mt-4">
                            <%= link_to(map_path, class: 'text-blue-400') do %>
                                <%= t('.map') %>
                            <% end %>
						</p>
						<p class="text-sm text-gray-400 mt-4">
                            <%= link_to(connect_path, class: 'text-blue-400') do %>
                                <%= t('.connect') %>
                            <% end %>
						</p>
					</div>
					<div class="w-1/2 md:w-1/4 mt-8 md:mt-12">
						<span class="font-semibold text-md md:text-lg text-white">
							<%= t('.contact') %>
						</span>
						<p class="text-sm text-gray-400 mt-4">
                            <%= link_to(support_general_path, class: 'text-blue-400') do %>
                                <%= t('.support') %>
                            <% end %>
						</p>
                        <p class="text-sm text-gray-400 mt-4">
                            <%= link_to(support_error_path, class: 'text-blue-400') do %>
                                <%= t('.website_errors') %>
                            <% end %>
                        </p>
                        <p class="text-sm text-gray-400 mt-4">
                            <%= link_to(support_improvement_path, class: 'text-blue-400') do %>
                                <%= t('.suggestions') %>
                            <% end %>
                        </p>
					</div>
					<div class="w-1/2 md:w-1/6 mt-8 md:mt-12">
						<span class="font-semibold text-md md:text-lg text-white">
							<%= t('.about') %>
						</span>
						<p class="text-sm text-gray-400 mt-4">
                            <%= link_to(about_path, class: 'text-blue-400') do %>
                                <%= t('.about_us') %>
                            <% end %>
						</p>
						<p class="text-sm text-gray-400 mt-4">
                            <%= link_to(kontrollansvarig_path, class: 'text-blue-400') do %>
                                <%= t('.KA') %>
                            <% end %>
						</p>
						<p class="text-sm text-gray-400 mt-4">
							How?
						</p>
					</div>
				</div>
			</div>
			<div class="w-full">
				<div class="text-center py-3">
					<span class="text-sm text-gray-500">
						<%= link_to(root_path, class: 'hover:text-blue-400') do %>
                            Apti.se
						<% end %>
						© 2019. All rights reserved.
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
