<div class="bg-black">
	<div class="container mx-auto">
		<div class="w-11/12 lg:w-2/3 xl:w-3/5 mx-auto">
			<div class="w-full">
				<div class="flex flex-wrap text-center md:text-left md:mb-8">
					<div class="w-1/3 md:w-1/4 mt-8 md:mt-12">
						<span class="font-bold text-md md:text-lg lg:text-xl text-white">
							<%= t('.get_started') %>
						</span>
						<p class="text-sm text-gray-400 mt-2">
                            <%= link_to(sign_in_path, class: 'text-blue-400') do %>
                                <%= t('.sign_in') %>
                            <% end %>
						</p>
						<p class="text-sm text-gray-400">
                            <%= link_to(map_path, class: 'text-blue-400') do %>
                                <%= t('.map') %>
                            <% end %>
						</p>
						<p class="text-sm text-gray-400">
                            <%= link_to(connect_path, class: 'text-blue-400') do %>
                                <%= t('.connect') %>
                            <% end %>
						</p>
					</div>
					<div class="w-1/3 md:w-1/4 mt-8 md:mt-12">
						<span class="font-bold text-md md:text-lg lg:text-xl text-white">
							<%= t('.contact') %>
						</span>
						<p class="text-sm text-gray-400 mt-2">
                            <%= link_to(support_general_path, class: 'text-blue-400') do %>
                                <%= t('.support') %>
                            <% end %>
						</p>
                        <p class="text-sm text-gray-400">
                            <%= link_to(support_error_path, class: 'text-blue-400') do %>
                                <%= t('.website_errors') %>
                            <% end %>
                        </p>
                        <p class="text-sm text-gray-400">
                            <%= link_to(support_improvement_path, class: 'text-blue-400') do %>
                                <%= t('.suggestions') %>
                            <% end %>
                        </p>
					</div>
					<div class="w-1/3 md:w-1/4 mt-8 md:mt-12">
						<span class="font-bold text-md md:text-lg lg:text-xl text-white">
							<%= t('.about') %>
						</span>
						<p class="text-sm text-gray-400 mt-2">
                            <%= link_to(about_path, class: 'text-blue-400') do %>
                                <%= t('.about_us') %>
                            <% end %>
						</p>
						<p class="text-sm text-gray-400">
                            <%= link_to(kontrollansvarig_path, class: 'text-blue-400') do %>
                                <%= t('.KA') %>
                            <% end %>
						</p>
						<p class="text-sm text-gray-400">
							How?
						</p>
					</div>
					<div class="w-1/2 md:w-1/4 mx-auto md:mt-12 lg:mt-16 xl:mt-10">
						<div class="max-w-xs mt-2 mx-auto md:mt-4">
							<%= image_tag('home_image.svg', alt: '')%>
						</div>
					</div>
				</div>
			</div>
			<div class="w-full mx-auto border-t border-gray-500">
				<div class="text-center py-3">
					<span class="font-semibold text-xs text-gray-400 ml-2">
						Copyright © 2019 <%= link_to(root_path) do %>
                            Apti.se
                        <% end %>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
