<div id="nav" class="bg-gray-900">
	<div class="container md:px-12 lg:px-0">
		<nav class="relative flex flex-wrap items-center justify-between md:py-2">
			<div class="relative z-10 flex-shrink-0 pl-4 py-4 lg:p-0">
				<%= link_to(root_path) do%>
					<%= image_tag('apti_logo.svg', alt: 'Home', style: 'width: 3.75rem;') %>
				<% end %>
			</div>
			<div class="flex-shrink-0 pr-4 lg:hidden">
				<button ref="openButton" @click="open" type="button" class="block text-gray-600 focus:outline-none focus:text-gray-600" aria-label="Menu">
					<svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
					<path d="M3 6C3 5.44772 3.44772 5 4 5H20C20.5523 5 21 5.44772 21 6C21 6.55228 20.5523 7 20 7H4C3.44772 7 3 6.55228 3 6Z"/>
					<path d="M3 12C3 11.4477 3.44772 11 4 11H20C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13H4C3.44772 13 3 12.5523 3 12Z"/>
					<path d="M4 17C3.44772 17 3 17.4477 3 18C3 18.5523 3.44772 19 4 19H20C20.5523 19 21 18.5523 21 18C21 17.4477 20.5523 17 20 17H4Z"/>
					</svg>
				</button>
			</div>
			<div class="hidden lg::block lg:ml-4 lg:flex lg:items-baseline lg:justify-between lg:bg-transparent">
				<div class="lg:absolute inset-0 flex items-center lg:ml-24 text-white font-medium">
					<%= link_to(t('.home'),
							root_path,
							class: 'hover:text-gray-600') %>
					<%= link_to(t('.map'),
							map_path,
							class: 'ml-10 hover:text-gray-600') %>
					<%= link_to(t('.kontrollansvarig'),
							kontrollansvarig_path,
							class: 'ml-10 hover:text-gray-600') %>
					<%= link_to(t('.about'),
							about_path,
							class: 'ml-10 hover:text-gray-600') %>
				</div>
				<div class="ml-10 relative flex items-baseline">
					<% if signed_in? %>
						<%= link_to(account_path, class: 'bg-blue-100 hover:bg-blue-200 border border-gray-400 py-2 px-3 rounded mr-3') do %>
						<%= icon('fas', 'user', class: 'mr-1 text-black') %>
						<%= t('.account') %>
						<% end %>
						<%= link_to(sign_out_path, method: :delete, class: 'hover:bg-gray-500 border border-gray-500 py-2 px-2 rounded text-white hover:text-white') do %>
						<%= icon('fas', 'sign-out-alt', class: 'mr-1 text-white') %>
						<%= t('.sign_out') %>
						<% end %>
					<% else %>
						<%= link_to(connect_path, class: 'bg-blue-600 text-white hover:bg-blue-700 hover:border-blue-700 hover:text-white border border-blue-600 py-2 px-2 rounded mr-3') do %>
						<%= t('.connect') %>
						<% end %>
						<%= link_to(sign_in_path, class: 'hover:bg-gray-500 border border-gray-500 py-2 px-2 rounded text-white hover:text-white') do %>
						<%= icon('fas', 'sign-in-alt', class: 'mr-1 text-white') %>
						<%= t('.sign_in') %>
						<% end %>
					<% end %>
				</div>
			</div>
		</nav>
	</div>
	<div v-cloak>
		<div class="lg:hidden">
			<!-- Off-canvas menu background overlay -->
			<transition
				enter-class="opacity-0"
				enter-active-class="ease-out transition-medium"
				enter-to-class="opacity-100"
				leave-class="opacity-100"
				leave-active-class="ease-out transition-medium"
				leave-to-class="opacity-0"
				appear
				>
				<div v-show="isOpen" class="z-10 fixed inset-0 transition-opacity">
					<div @click="close" class="absolute inset-0 bg-black opacity-50" tabindex="-1"></div>
				</div>
			</transition>

			<!-- Off-canvas menu -->
			<transition
				enter-class="translate-x-full"
				enter-active-class="ease-out transition-slow"
				enter-to-class="translate-x-0"
				leave-class="translate-x-0"
				leave-active-class="ease-in transition-medium"
				leave-to-class="translate-x-full"
				appear
				>
				<div v-show="isOpen" class="z-10 fixed inset-y-0 right-0 max-w-xs w-full bg-white transition-transform overflow-y-auto">
					<div class="relative z-10 bg-white">
						<div :class="isOpen ? 'block' : 'hidden'" class="absolute top-0 right-0 p-4">
							<button ref="closeButton" @click="close" type="button" class="text-gray-600 focus:outline-none focus:text-gray-900" aria-label="Close">
								<svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
								<path d="M18.2929 19.7071C18.6834 20.0976 19.3166 20.0976 19.7071 19.7071C20.0976 19.3166 20.0976 18.6834 19.7071 18.2929L13.4142 12L19.7071 5.70711C20.0976 5.31658 20.0976 4.68342 19.7071 4.29289C19.3166 3.90237 18.6834 3.90237 18.2929 4.29289L12 10.5858L5.70711 4.29289C5.31658 3.90237 4.68342 3.90237 4.29289 4.29289C3.90237 4.68342 3.90237 5.31658 4.29289 5.70711L10.5858 12L4.29289 18.2929C3.90237 18.6834 3.90237 19.3166 4.29289 19.7071C4.68342 20.0976 5.31658 20.0976 5.70711 19.7071L12 13.4142L18.2929 19.7071Z"/>
								</svg>
							</button>
						</div>
						<div class="px-4 pt-4 pb-6">
							<%= link_to(root_path) do%>
								<%= image_tag('apti_logo.svg', alt: 'Home', style: 'width: 3.75rem;') %>
							<% end %>
							<p class="mt-8 block text-xs font-semibold text-gray-600 uppercase tracking-wider">Länkar</p>
							<%= link_to(t('.home'),
								root_path,
								class: 'mt-4 block font-medium text-gray-900 hover:text-gray-600') %>
							<%= link_to(t('.map'),
								map_path,
								class: 'mt-4 block font-medium text-gray-900 hover:text-gray-600') %>
							<%= link_to(t('.kontrollansvarig'),
								kontrollansvarig_path,
								class: 'mt-4 block font-medium text-gray-900 hover:text-gray-600') %>
							<%= link_to(t('.contact'),
								contact_path,
								class: 'mt-4 block font-medium text-gray-900 hover:text-gray-600') %>
							<%= link_to(t('.about'),
								about_path,
								class: 'mt-4 block font-medium text-gray-900 hover:text-gray-600') %>
						</div>
						<% if signed_in? %>
							<div class="border-t-2 border-gray-200 px-4 pt-4 mb-4">
								<p class="block text-xs font-semibold text-green-600 uppercase tracking-wider">Konto</p>
								<%= link_to(t('.home'),
									account_path,
									class: 'mt-4 block text-gray-800 hover:text-gray-600') %>
								<%= link_to(t('.projects'),
									projects_path,
									class: 'mt-4 block text-gray-800 hover:text-gray-600') %>
								<%= link_to(t('.customers'),
									projects_path,
									class: 'mt-4 block text-gray-800 hover:text-gray-600') %>
								<%= link_to(t('.settings'),
									settings_path,
									class: 'mt-4 block text-gray-800 hover:text-gray-600') %>
							</div>
						<% end %>
						<div class="border-t-2 border-gray-200 px-4 pt-6">
							<% if signed_in? %>
								<%= link_to(account_path, class: 'bg-blue-100 hover:bg-blue-200 border border-gray-400 py-2 px-3 rounded mr-3') do %>
									<%= icon('fas', 'user', class: 'mr-1 text-black') %>
									<%= t('.account') %>
								<% end %>
								<%= link_to(sign_out_path, method: :delete, class: 'hover:bg-gray-400 border border-gray-400 py-2 px-2 rounded') do %>
									<%= icon('fas', 'sign-out-alt', class: 'mr-1 text-black') %>
									<%= t('.sign_out') %>
								<% end %>
							<% else %>
								<%= link_to(connect_path, class: 'bg-blue-600 text-white hover:bg-blue-700 hover:border-blue-700 hover:text-white border border-blue-600 py-2 px-2 rounded mr-3') do %>
									<%= t('.connect') %>
								<% end %>
								<%= link_to(sign_in_path, class: 'border border-gray-400 hover:border-gray-600 py-2 px-3 rounded') do %>
									<%= icon('fas', 'sign-in-alt', class: 'mr-1 text-black') %>
									<%= t('.sign_in') %>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>
			</transition>
		</div>
	</div>
</div>
