<div id="nav" class="bg-gray-900 md:bg-white shadow h-16">
  <navigation
    :signed-in="<%= signed_in? %>"
    :links='<%= header_links %>'
    :account-link='<%= account_link %>'
    :connect-link='<%= connect_link %>'
    :sign-in='<%= sign_in_link %>'
    :sign-out='<%= sign_out_link %>'
    :authenticity='"<%= form_authenticity_token %>"'
  >
  </navigation>
</div>
