<div x-show="header_new_dropdown" class="absolute md:origin-center left-0 z-50 mt-2 rounded -ml-48"
  x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95"
  x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75"
  x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95">
  <div class="rounded bg-white border border-gray-500 flex p-3">
    <div class="flex -mx-2 text-xs font-semibold leading-tight">
      <div class="w-32 px-2">
        <%= link_to(new_project_path) do %>
          <div class="rounded btn-blue text-white flex flex-col justify-center text-center p-2 hover:bg-blue-100 border border-transparent hover:border-blue-500 hover:text-blue-500">
            <div class="flex justify-center">
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
              </svg>
            </div>
            <div>
              <p class="mt-2"><%= t('.new_project') %></p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="w-32 px-2">
        <%= link_to(new_customer_path) do %>
          <div class="rounded btn-green text-white flex flex-col justify-center text-center p-2 hover:bg-green-100 border border-transparent hover:border-green-500 hover:text-green-500">
            <div class="flex justify-center">
              <%= render('application/icons/customer_new') %>
            </div>
            <div>
              <p class="mt-2"><%= t('.new_customer') %></p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="w-32 px-2">
        <%= link_to(new_invoice_path) do %>
          <div class="rounded btn-orange text-white flex flex-col justify-center text-center p-2 hover:bg-orange-100 border border-transparent hover:border-orange-500 hover:text-orange-500">
            <div class="flex justify-center">
              <%= render('application/icons/document_add') %>
            </div>
            <div>
              <p class="mt-2"><%= t('.new_invoice') %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
