<div id="nav" class="bg-gray-900 md:bg-white shadow h-16">
  <div class="md:px-4">
    <nav class="relative flex flex-wrap items-center justify-between md:py-2">
      <div class="relative z-10 flex-shrink-0 pl-4 py-4 md:p-0">
        <%= link_to(root_path) do %>
          <%= image_tag('apti_logo.svg', alt: "Home", style:"width: 3.75rem") %>
        <% end %>
      </div>
      <navigation
        :signed-in="<%= signed_in? %>"
        :links='<%= header_links %>'
        :account-link='<%= account_link %>'
        :connect-link='<%= connect_link %>'
        :sign-in='<%= sign_in_link %>'
        :sign-out='<%= sign_out_link %>'
        :authenticity='"<%= form_authenticity_token %>"'
      ></navigation>
      <div class="hidden md:block md:ml-10 md:flex flex-grow items-baseline justify-between md:bg-transparent" >
        <div class="inset-0 flex items-center py-2">
          <%= link_to(t('application.header.home'), root_url, class: "text-gray-900 hover:text-gray-600 mr-6") %>
          <%= link_to(t('application.header.map'), map_url, class: "text-gray-900 hover:text-gray-600 mr-6") %>
          <%= link_to(t('application.header.kontrollansvarig'), kontrollansvarig_url, class: "text-gray-900 hover:text-gray-600 mr-6") %>
          <%= link_to(t('application.header.about'), about_url, class: "text-gray-900 hover:text-gray-600 mr-6") %>
        </div>
        <div class="ml-10 relative flex items-baseline">
          <% if signed_in? %>
            <%= link_to(account_path, class: "bg-blue-100 hover:bg-blue-200 border border-gray-400 py-2 px-3 rounded mr-3") do %>
              <%= icon('fas', 'user', class: 'mr-1 text-black')%>
              <%= t('application.header.account') %>
            <% end %>
            <%= link_to(sign_out_path, method: 'delete', class: "text-gray-900 hover:text-gray-600 border border-gray-400 py-2 px-3 rounded mr-3") do %>
              <%= icon('fas', 'sign-out-alt', class: 'mr-1 text-black')%>
              <%= t('application.header.sign_out') %>
            <% end %>
          <% else %>
            <%= link_to(connect_path, class: "bg-blue-100 hover:bg-blue-200 border border-gray-400 py-2 px-3 rounded mr-3") do %>
              <%= t('application.header.connect_company') %>
            <% end %>
            <%= link_to(sign_in_path, class: "text-gray-900 hover:text-gray-600 border border-gray-400 py-2 px-3 rounded mr-3") do %>
              <%= icon('fas', 'sign-in-alt', class: 'mr-1 text-black')%>
              <%= t('application.header.sign_in') %>
            <% end %>
          <% end %>
        </div>
      </div>
    </nav>
  </div>
</div>
