<div class="w-full lg:w-1/4 xl:w-1/5 lg:max-w-sm hidden lg:block bg-gray-900">
  	<div class="border-b border-gray-700 p-1 flex justify-left items-center py-6">
	  	<div class="ml-2">
			<div class="w-12 ml-2">
				<%= image_tag('profile_pic.svg')%>
			</div>
		</div>
		<div class="px-4">
			<h3 class="text-2xl font-medium text-gray-200 leading-tight"><p class=""><%= current_user.name %></p></h3>
		</div>
	</div>
	<div class="w-full mt-4">
		<h2 class="text-gray-400 opacity-50 font-semibold ml-4">Main</h2>
		<ul class="menu-list mt-2">
			<li>
				<%= link_to(account_path,
							class: aside_item_class(['home'])) do %>
				<div class="w-10 inline-block text-center">
					<%= icon('fas', 'home', class: "text-gray-400 mt-2") %>
				</div>
				<div class="text-gray-400 inline font-semibold">
					<%= t('.home') %>
				</div>
				<% end %>
			</li>
			<li>
				<%= link_to(projects_path,
							class: aside_item_class(['projects'])) do %>
				<div class="w-10 inline-block text-center">
					<%= icon('fas', 'tasks', class: "text-gray-400 mt-2") %>
				</div>
				<div class="text-gray-400 inline font-semibold">
					<%= t('.projects') %>
				</div>
				<% end %>
			</li>
			<li>
				<%= link_to(account_path,
							class: aside_item_class(['customers'])) do %>
				<div class="w-10 inline-block text-center">
					<%= icon('fas', 'users', class: "text-gray-400 mt-2") %>
				</div>
				<div class="text-gray-400 inline font-semibold">
					<%= t('.customers') %>
				</div>
				<% end %>
			</li>
		</ul>
		<h2 class="text-gray-400 opacity-50 font-semibold ml-4 mt-4">Settings</h2>
		<ul class="menu-list mt-2">
			<li>
				<%= link_to(settings_path,
						class: aside_item_class(['settings'])) do %>
				<div class="w-10 inline-block text-center">
					<%= icon('fas', 'user-cog', class: "text-gray-400 mt-2") %>
				</div>
				<div class="text-gray-400 inline font-semibold">
					<%= t('.settings') %>
				</div>
				<% end %>
			</li>
		</ul>
		<%= yield(:sidemenu) %>
	</div>
</div>
