<div class="w-full flex h-full absolute">
  <div class="w-full flex">
    <div class="w-1/4 max-w-lg hidden xl:flex py-4 bg-gray-900">
      <div class="w-full mx-auto">
        <div class="w-full flex justify-center h-24">
          <div class="w-full px-10 mt-4">
            <%= form_with(scope: :search, url: company_search_path) do |form| %>
              <div class="flex items-center w-full p-3 mx-auto bg-white shadow rounded-sm">
                <% if @search_value %>
                  <%= link_to(map_path) do %>
                    <%= icon('fas', 'times-circle', class: 'mr-3') %>
                  <% end %>
                <% end %>
                <%= form.text_field(:text, id: 'text', placeholder: t('.search_placeholder'),
                                              aria: { label: 'text' }, local: false,
                                              value: @search_value,
                                              class: 'w-full mx-auto appearance-none focus:outline-none') %>
                <%= form.submit(class: 'flex-shrink-0 button is-info', value: t('.search'),
                                data: {disable_with: false}) %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="px-10 companylist overflow-auto">
          <% @companies.each do |company| %>
            <%= render('companies/list_item', company: company)%>
          <% end %>
        </div>
      </div>
    </div>
    <div class="w-full xl:w-3/4 xxl:w-4/5 relative">
      <div class="flex flex-wrap lg:p-0 xl:px-10 xl:py-8 h-screen lg:h-auto bg-white">
          <div class="w-full lg:w-1/2 mx-auto flex-col xl:hidden lg:mt-4 lg:mb-4">
              <%= form_with(scope: :search, url: company_search_path) do |form| %>
                <div class="flex items-center w-full p-3 mx-auto bg-white border border-gray-200 shadow rounded-sm">
                  <% if @search_value %>
                    <%= link_to(map_path) do %>
                      <%= icon('fas', 'times-circle', class: 'mr-3') %>
                    <% end %>
                  <% end %>
                  <%= form.text_field(:text, id: 'text', placeholder: t('.search_placeholder'),
                                                aria: { label: 'text' }, local: false,
                                                value: @search_value,
                                                class: 'w-full mx-auto appearance-none focus:outline-none') %>
                  <%= form.submit(class: 'flex-shrink-0 button is-info', value: t('.search'),
                                  data: {disable_with: false}) %>
                </div>
              <% end %>
            </div>
        <div class="w-full lg:w-2/3 xxl:w-3/4 relative bg-white mapheight lg:h-auto">
          <div class="w-full lg:border-t lg:border-l lg:border-b lg:border-gray-500 xl:rounded-l" style="height:100%"
            id="map"
            data-companies="<%= @company_geojson.to_json %>"
            data-access-token="<%= ENV.fetch('MAPBOX_API_KEY', '') %>">
          </div>
          <!--Info for mobile-->
          <div class="w-full absolute flex xl:hidden bottom-0 mx-auto justify-center mb-8">
            <div class="w-11/12 -m-2 text-center">
              <div class="p-2">
                <div class="inline-flex items-center bg-white leading-none text-purple-600 rounded-full p-2 shadow text-teal text-sm">
                  <span class="inline-flex bg-indigo-600 text-white rounded-full h-6 px-3 justify-center items-center">Klicka!</span>
                  <span class="inline-flex px-2">Tryck på ett förtg. för att läsa mer.</span>
                </div>
              </div>
            </div>
          </div>
          <!--Info for mobile end, start for desktop-->
          <div class="w-full absolute hidden xl:flex top-0 justify-center mt-6">
            <div class="-m-2 text-center">
              <div class="p-2">
                <div class="inline-flex items-center bg-white leading-none text-purple-600 rounded-full p-2 shadow text-teal text-sm">
                  <span class="inline-flex bg-indigo-600 text-white rounded-full h-6 px-3 justify-center items-center">Tips!</span>
                  <span class="inline-flex px-2">Du kan skicka din förfrågan till tre företag samtidigt!</span>
                </div>
              </div>
            </div>
          </div>
          <!--Desktop info end-->
        </div>
        <div class="w-full lg:w-1/3 xxl:w-1/4 p-10 flex flex-col bg-white xl:rounded-r border-t border-r border-b border-gray-500">
          <%= render('companies/map_sidebar', company: @companies.first) if @companies.first %>
        </div>
      </div>
    </div>
  </div>
</div>
