<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=no">
    <title>Apti - Hitta Kontrollansvariga nära dig!</title>
    <%= stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track': 'reload') %>
    <%= javascript_include_tag('application', 'data-turbolinks-track': 'reload') %>
    <%= stylesheet_pack_tag('application', media: 'all') %>
    <%= javascript_pack_tag('application') %>
    <%= csrf_meta_tags %>
    <%= render('application/favicon') %>
  </head>
  <body class="flex flex-col h-full bg-gray-200">
    <header>
      <%= render('header') %>
    </header>
    <div class="flex-grow relative">
      <div class="w-full flex absolute h-full">
        <%= render('application/sidemenu') %>
        <%= yield(:title) %>
        <%= render('flashes') %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
