<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=no">
    <title>Apti - Hitta Kontrollansvariga nära dig!</title>
    <%= stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track': 'reload') %>
    <%= javascript_include_tag('application', 'data-turbolinks-track': 'reload') %>
    <%= stylesheet_pack_tag('application', media: 'all') %>
    <%= javascript_pack_tag('application') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render('application/favicon') %>
  </head>
  <body class="antialiased" data-confirm-unsaved="<%= t('.confirm_unsaved') %>">
    <div class="flex flex-col h-full bg-cool-gray-50">
      <header>
        <%= render('account_header') %>
      </header>
      <portal-target name="modals"></portal-target>
      <div class="flex flex-1 lg:overflow-hidden">
        <%= yield(:sidebar) %>
        <main class="flex flex-1 lg:overflow-y-auto">
          <%= render('flashes') %>
          <%= yield(:title) %>
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
