<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0">
    <meta name="Description" content="Använd kartan för att hitta certifierade kontrollansvariga nära dig!">
    <title>Apti - Hitta Kontrollansvariga nära dig!</title>
    <%= stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track': 'reload') %>
    <%= javascript_include_tag('application', 'data-turbolinks-track': 'reload') %>
    <%= stylesheet_pack_tag('application', media: 'all') %>
    <%= javascript_pack_tag('application') %>
    <%= csrf_meta_tags %>
    <%= render('application/favicon') %>
  </head>
    <body class="flex flex-col">
      <header>
        <%= render('header') %>
      </header>
      <div class="flex flex-grow relative bg-gray-200">
        <%= yield %>
      </div>
      <footer>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145432851-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-145432851-1');
        </script>
      </footer>
    </body>
</html>
