<%= form_with(model: current_user, url: account_path, local: true, class: "w-full") do |form| %>
  <h2 class="text-2xl font-medium text-gray-900"><%= t('.company_settings') %></h2>
  <div class="flex flex-col w-full mt-4">
    <div class="mb-6 -mx-3 md:flex">
      <div class="px-3 mb-6 md:w-1/2 md:mb-0">
        <%= form.label(:name, class: "form-label lg:mb-2") %>
        <%= form.text_field(:name, id: 'name',
        class: "form-input mt-2") %>
      </div>
      <div class="w-full px-3 md:w-1/2">
        <%= form.label(:vat, class: "form-label lg:mb-2") %>
        <%= form.text_field(:vat, id: 'vat',
        class: "form-input mt-2") %>
      </div>
    </div>
    <div class="mb-6 -mx-3 md:flex">
      <div class="px-3 mb-6 md:w-1/2 md:mb-0">
        <%= form.label(:email, class: "form-label lg:mb-2") %>
        <%= form.text_field(:email, id: 'email',
        class: "form-input mt-2") %>
      </div>
      <div class="w-full px-3 md:w-1/2">
        <%= form.label(:website, class: "form-label lg:mb-2") %>
        <div class="flex">
          <div
            class="flex items-center justify-center w-24 mt-2 bg-gray-100 border-t border-b border-l border-gray-500 rounded-l">
            <span class="text-gray-600">
              https://
            </span>
          </div>
          <%= form.text_field(:website, id: 'website',
                    class: "form-input rounded-l-none mt-2") %>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col w-full xl:w-3/4">
    <div class="mb-6 -mx-3 md:flex">
      <div class="px-3 md:w-1/2">
        <%= form.label(:phone, class: "form-label lg:mb-2") %>
        <%= form.text_field(:phone, id: 'phone',
        class: "form-input mt-2") %>
      </div>
    </div>
    <div class="flex -mx-3 md:flex xl:hidden">
      <div class="px-3 md:w-1/2">
        <%= form.label(:logo, class: "form-label lg:mb-2") %>
        <div x-data="{ upload_modal: false }" @click.away="upload_modal = false" class="w-full">
          <div class="flex items-center mt-2">
            <div class="flex items-center justify-center w-16 h-16 bg-gray-200 rounded-full">
              <svg class="w-10 h-10 text-gray-500" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M4 5a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V7a2 2 0 00-2-2h-1.586a1 1 0 01-.707-.293l-1.121-1.121A2 2 0 0011.172 3H8.828a2 2 0 00-1.414.586L6.293 4.707A1 1 0 015.586 5H4zm6 9a3 3 0 100-6 3 3 0 000 6z"
                  clip-rule="evenodd" />
              </svg>
            </div>
            <div @click="upload_modal = !upload_modal" @click="upload_modal = true" title="<%= t('.upload') %>"
              class="px-4 py-2 ml-4 text-center bg-blue-500 cursor-pointer rounded-md">
              <span class="font-bold text-white">Upload</span>
            </div>
          </div>
          <%= render('upload_logo_modal') %>
        </div>
      </div>
    </div>
    <div class="flex items-center mt-8 font-medium text-gray-900">
      <span class="flex inline-flex items-center">
        <span class="mr-2 text-xl">
          <%= t('.address') %>
        </span>
        <svg class="w-5 h-5 -mt-1 lg:h-6 lg:w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M19 21V5a2 2 0 00-2-2H7a2 2 0 00-2 2v16m14 0h2m-2 0h-5m-9 0H3m2 0h5M9 7h1m-1 4h1m4-4h1m-1 4h1m-5 10v-5a1 1 0 011-1h2a1 1 0 011 1v5m-4 0h4" />
        </svg>
      </span>
    </div>
    <div class="my-6 -mx-3 md:flex">
      <div class="px-3 mb-6 md:w-1/2 md:mb-0">
        <%= form.label(:street, class: "form-label lg:mb-2") %>
        <%= form.text_field(:steet, id: 'street',
        class: "form-input mt-2") %>
      </div>
      <div class="w-full px-3 md:w-1/2">
        <%= form.label(:zip_code, class: "form-label lg:mb-2") %>
        <%= form.text_field(:zip_code, id: 'zip_code',
        class: "form-input mt-2") %>
      </div>
    </div>
    <div class="mb-6 -mx-3 md:flex">
      <div class="px-3 mb-6 md:w-1/2 md:mb-0">
        <%= form.label(:city, class: "form-label lg:mb-2") %>
        <%= form.text_field(:city, id: 'city',
        class: "form-input mt-2") %>
      </div>
      <div class="w-full px-3 md:w-1/2">
        <%= form.label(:country, class: "form-label lg:mb-2") %>
        <%= form.text_field(:country, id: 'country',
        class: "form-input mt-2") %>
      </div>
    </div>
  </div>
<% end %>
