<div class="col-span-2 lg:col-span-1 mb-6 flex flex-col pb-8">
  <div class="h-full flex-grow flex flex-col bg-white border border-gray-500 sm:rounded overflow-hidden">
    <div class="border-b">
      <div class="flex justify-between px-6 -mb-px">
        <h3 class="text-blue-600 py-4 font-normal text-lg"><%= t(".invoices") %></h3>
        <div class="flex">
          <button type="button" class="appearance-none py-4 text-blue-700 border-b border-blue-700 mr-3">
            <%= t(".paid") %>
          </button>
          <button type="button" class="appearance-none py-4 text-gray-700 border-b border-transparent hover:border-gray-700 mr-3">
            <%= t(".upcoming") %>
          </button>
          <button type="button" class="appearance-none py-4 text-gray-700 border-b border-transparent hover:border-gray-700">
            <%= t(".past_due") %>
          </button>
        </div>
      </div>
    </div>
    <% if invoices.any? %>
      <% invoices.each_with_index do |invoice, idx| %>
        <%= render("invoices/status_row", invoice: invoice, odd: idx % 2 == 0) %>
      <% end %>
      <div class="px-6 py-3">
        <div class="text-center text-gray flex justify-center">
          <div class="flex hover:border-gray-400 hover:text-gray-400 font-medium">
            <%= link_to(invoices_path, class: 'bg-blue-600 border-blue-600 border hover:bg-blue-500 hover:border-blue-500 py-2 px-3 rounded text-white') do %>
              <%= t(".all_invoices") %>
            <% end %>
          </div>
        </div>
      </div>
    <% else %>
      <%= render("invoices/empty") %>
    <% end %>
  </div>
</div>
