<% filtered ||= false %>
<% projects ||= [] %>
<div x-data="{ tab: 'active' }" class="flex flex-col bg-white border shadow sm:rounded">
  <div class="flex-grow border-b">
    <div class="flex justify-between px-3 -mb-px xl:px-6">
      <h3 class="py-4 text-base font-normal text-blue-700 sm:text-lg"><%= t('.recent_projects') %></h3>
      <div class="flex">
        <button :class="{ 'text-blue-500 border-b border-blue-500': tab === 'active' }" @click="tab = 'active'"
          class="py-4 mr-3 text-gray-700 appearance-none hover:text-blue-400 focus:outline-none">
          <%= t('.active') %>
        </button>
        <button :class="{ 'text-blue-500 border-b border-blue-500': tab === 'archived' }" @click="tab = 'archived'"
          class="py-4 text-gray-700 appearance-none hover:text-blue-400 focus:outline-none">
          <%= t('.archived') %>
        </button>
      </div>
    </div>
  </div>
  <div x-show="tab === 'active'" class="">
    <% if projects.empty? %>
      <%= render('projects/empty') %>
    <% else %>
      <div class="flex flex-wrap items-start">
        <% projects.each do |project| %>
          <%= render('projects/status_row', project: project) %>
        <% end %>
      </div>
      <div class="px-6 py-3">
        <div class="flex justify-center text-center text-gray">
          <div class="flex">
            <%= link_to(projects_path, class: 'inline-flex items-center px-2.5 py-2 sm:px-3 sm:py-2 border border-transparent text-sm leading-4 font-medium rounded text-white bg-blue-600 hover:bg-blue-500 focus:outline-none focus:border-blue-700 focus:shadow-outline-blue active:bg-blue-700 transition ease-in-out duration-150') do %>
              <%= t('.all_projects') %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div x-show="tab === 'archived'" class="">
    <% projects.each do |project| %>
      <%= render('projects/status_row', project: project) %>
    <% end %>
  </div>
</div>
