<% filtered ||= false %>
<% projects ||= [] %>
<div class="col-span-2 lg:col-span-1">
  <div x-data="{ tab: 'active' }" class="h-full flex flex-col bg-white border-gray-500 sm:rounded border">
    <div class="w-full border-b">
      <div class="flex justify-between px-6 -mb-px">
        <h3 class="text-blue-700 py-4 font-normal text-lg"><%= t('.recent_projects') %></h3>
        <div class="flex">
          <button :class="{ 'text-blue-500 border-b border-blue-500': tab === 'active' }" @click="tab = 'active'"
            class="appearance-none py-4 text-gray-700 hover:text-blue-400 focus:outline-none mr-3">
            <%= t('.active') %>
          </button>
          <button :class="{ 'text-blue-500 border-b border-blue-500': tab === 'archived' }" @click="tab = 'archived'"
            class="appearance-none py-4 text-gray-700 hover:text-blue-400 focus:outline-none">
            <%= t('.archived') %>
          </button>
        </div>
      </div>
    </div>
    <div x-show="tab === 'active'" class="">
      <% if projects.empty? %>
        <%= render('projects/empty') %>
      <% else %>
        <div class="flex flex-wrap items-start">
          <% projects.each do |project| %>
            <%= render('projects/status_row', project: project) %>
          <% end %>
        </div>
        <div class="border-t px-6 py-3">
          <div class="text-center text-gray flex justify-center">
            <div class="flex">
              <%= link_to(projects_path, class: 'bg-blue-600 border-blue-600 border hover:bg-blue-500 hover:border-blue-500 py-2 px-3 rounded text-white font-medium') do %>
                <%= t('.all_projects') %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div x-show="tab === 'archived'" class="">
    </div>
  </div>
</div>
