<div class="col-span-2 flex justify-between lg:justify-end px-2 pt-2 lg:p-0">
  <div class="lg:hidden">
    <h1 class="text-3xl font-bold text-gray-900"><%= t('.title') %></h1>
  </div>
  <div class="flex justify-end">
      <%= link_to(new_project_path, class: 'btn btn-blue normal-case text-base') do %>
        <%= t('.new_project') %>
      <% end %>
      <%= link_to(new_customer_path, class: 'btn btn-green normal-case text-base ml-3') do %>
        <%= t('.new_customer') %>
      <% end %>
  </div>
</div>
