<div class="flex items-center px-6 md:hidden">
  <div class="w-3/4 py-6">
    <div class="mb-2 text-gray-900">
      <span class="text-5xl"><%= @counts[:active] %></span>
    </div>
    <div class="text-sm text-green-500">
      &uarr; 5 more than last month
    </div>
  </div>
  <div class="flex-grow py-6">
    <div class="relative">
      <select class="block w-full px-4 py-2 pr-8 bg-white border border-gray-200 rounded appearance-none">
        <option><%= t('.projects') %></option>
        <option><%= t('.time_logs') %></option>
        <option><%= t('.invoices') %></option>
      </select>
      <div class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 pointer-events-none">
        <%= render('application/icons/arrow_down') %>
      </div>
    </div>
  </div>
</div>
