<div class="p-4 bg-indigo-100 border border-indigo-300 grid grid-cols-2 col-span-2 gap-6 sm:rounded md:p-6">
  <div class="col-span-2 xl:col-span-1">
    <div class="flex justify-between w-full">
      <div class="leading-none">
        <h1 class="text-3xl font-bold text-gray-900 md:text-4xl">Välkommen!</h1>
      </div>
      <div>
        <div class="flex flex-wrap-reverse justify-end">
          <%= link_to(new_project_path, class: 'btn btn-blue normal-case text-base mt-2 sm:mt-0') do %>
            <%= t('.new_project') %>
          <% end %>
          <%= link_to(new_customer_path, class: 'btn btn-green normal-case text-base ml-3') do %>
            <%= t('.new_customer') %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="flex justify-between w-full mt-4">
      <div class="">
        <p class="text-base text-gray-900 md:text-lg">Den här veckan har du loggat <span
            class="text-xl font-extrabold text-green-600 md:text-2xl">5</span> timmar. </p>
        <p class="text-base text-gray-900 md:text-lg">Det är <span
            class="text-xl font-bold text-yellow-600 md:text-2xl">3</span> mer än vid samma tid förra veckan!</p>
        <p class="mt-4 text-base text-gray-900 md:text-lg">Du har skapat <span
            class="text-xl font-bold text-blue-600 md:text-2xl">3</span> nya projekt.</p>
        <span class="mt-4 text-base text-gray-900 md:text-lg">Det sista projektet du startade var: <span class="mt-1 text-xl font-bold text-blue-600 md:text-2xl">Latest project</span></span>
      </div>
      <div>
        <div class="flex justify-end w-48 h-48 px-8 pt-6 md:w-56 md:h-40">
          <%= image_tag('no_timelogs.svg', alt: 'Builders')%>
        </div>
      </div>
    </div>
  </div>
  <%= render("stats") %>
</div>
